In [27]:
#Importo le librerie necessarie per integrare i vari Dataset creati
import pandas as pd
from pymongo import MongoClient

In [28]:
client = MongoClient('mongo', 27017, username='admin', password='DataMan2019!')

In [29]:
eu_db = client.Eurostat_db

In [30]:
#Creo una lista contente tutti i DataFrame che riguardano gli indici di Eurostat
list_df = []

for collection in  eu_db.list_collection_names():
    coll = eval('eu_db.' + collection)
    cursor = coll.find({})
    list_df.append(pd.DataFrame(list(cursor)))

In [31]:
#Elimino tutte le colonne '_id' ed i duplicati dai DataFrame di Eurostat
list_no_dp = []

for df in list_df:
    del df['_id']
    df = df.drop_duplicates()
    list_no_dp.append(df)

In [32]:
#Creo un Dataset unico in cui unisco tutti i Dataset di Eurostat usando come chiave la colonna 'city' 
from functools import reduce
data_eurostat_integrated = reduce(lambda x, y: pd.merge(x, y, on = 'city', how='outer'), list_no_dp)
data_eurostat_integrated

,"Share of journeys to work by public transport (rail, metro, bus, tram)_x",city,Cost of a combined monthly ticket (all modes of public transport) for 5-10 km in the central zone_x,Number of public libraries_x,Average temperature of warmest month_x,Green urban areas and sports and leisure facilities_x,People killed in road accidents per 10000 pop_x,Total population on the 1st of January_x,Average temperature of coldest month_x,"Share of journeys to work by public transport (rail, metro, bus, tram)_y",...,Transport infrastructure_y,Share of journeys to work by bicycle_y,Number of available beds per 1000 residents_y,Rainfall_y,Number of murders and violent deaths_y,Number of bed-places in tourist accommodation establishments_y,Share of journeys to work by foot_y,Cost of a taxi ride of 5 km to the centre at day time_y,Number of museum visitors_y,Total nights spent in tourist accommodation establishments_y
0,297.690131,Belgium,52.162559,26.111162,19.204831,NaN,8.705862,1.132562e+07,2.901383,297.690131,...,14.0,3.475788,288555.857661,870.947518,198.175066,3.438823e+07,0.701955,11.188160,3.076995,2.604648e+06
1,675.137155,Bruxelles / Brussel,35.961476,31.913670,19.329885,13.2,2.076010,1.199625e+06,2.250328,675.137155,...,41.7,4.892044,36839.657225,824.188095,35.396935,5.772217e+06,0.228306,11.965250,5.026683,1.177071e+06
2,438.584852,Antwerpen,35.961476,24.175411,19.246839,6.8,13.040000,5.111085e+05,2.293227,438.584852,...,12.4,2.960000,12217.141010,753.683333,17.052107,1.525453e+06,0.403951,11.695296,3.127094,8.720082e+05
3,63.683276,Gent,33.761608,24.508292,19.166790,6.6,12.550000,2.547193e+05,2.291790,63.683276,...,9.9,2.310000,6174.183908,767.314696,5.134100,7.608346e+05,0.421452,9.593033,3.102956,9.241979e+04
4,115.879833,Charleroi,35.089030,6.807718,18.960140,6.2,0.600000,2.013813e+05,1.556322,115.879833,...,5.5,2.010000,1378.833128,794.498276,9.586207,2.178220e+05,0.494254,9.857590,1.077494,1.752855e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,NaN,Luzern,NaN,NaN,NaN,NaN,NaN,7.920575e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1055,NaN,Luzern (greater city),NaN,NaN,NaN,NaN,NaN,1.559056e+05,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1056,NaN,Lugano,NaN,NaN,NaN,NaN,NaN,5.958176e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1057,NaN,Lugano (greater city),NaN,NaN,NaN,NaN,NaN,7.926573e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1058,NaN,Biel/Bienne,NaN,NaN,NaN,NaN,NaN,5.140723e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
#Importo il Dataset su Mongo
Eurostat_integrated = eu_db.Eurostat_integrated
Eurostat_integrated.insert_many(data_eurostat_integrated.to_dict('records'))

In [27]:
trip_db = client.Tripadvisor_db

In [28]:
list_df = []

for collection in  trip_db.list_collection_names():
    coll = eval('trip_db.' + collection)
    cursor = coll.find({})
    list_df.append(pd.DataFrame(list(cursor)))

In [29]:
list_no_dp = []

for df in list_df:
    del df['_id']
    df = df.drop_duplicates()
    list_no_dp.append(df)

In [30]:
from functools import reduce
data_tripadvisor_integrated = reduce(lambda x, y: pd.merge(x, y, on = 'city', how='outer'), list_no_dp)
data_tripadvisor_integrated

,city,media_pesata_x,Number of Reviews,pesi_x,media_pesata_y,Total_Number_of_Reviews,pesi_y,media_pesata
0,Amsterdam,4.500000,414444.0,1721704.5,4.154251,226931.0,1897766.1,8.362745
1,Barcelona,4.403424,1020548.0,4140726.5,4.057356,299526.0,2528984.1,8.443287
2,Berlin,4.296173,406937.0,1659156.5,4.077183,NaN,NaN,NaN
3,Bratislava,4.500000,41434.0,170345.0,4.111237,NaN,NaN,NaN
4,Budapest,4.220217,335559.0,1416368.0,4.220921,NaN,NaN,NaN
5,Dublin,4.000000,313492.0,1316335.5,4.198944,NaN,NaN,NaN
6,Geneva,4.227933,88770.0,353797.5,3.985553,NaN,NaN,NaN
7,Hamburg,4.500000,112374.0,460497.5,4.097901,NaN,NaN,NaN
8,Helsinki,4.077570,65397.0,261300.5,3.995604,NaN,NaN,NaN
9,London,4.389502,2136471.0,8591877.0,4.021528,613376.0,5114938.8,8.338994
10,Milan,4.500000,1003254.0,3884884.0,3.872284,257665.0,2142219.4,8.313971
11,Munich,4.500000,216023.0,872111.0,4.037121,NaN,NaN,NaN
12,Prague,4.222949,442475.0,1828305.0,4.131996,NaN,NaN,NaN
13,Stockholm,4.481566,159922.0,636584.0,3.980591,NaN,NaN,NaN
14,Vienna,4.464837,266078.0,1081777.5,4.065641,230188.0,1961589.7,8.521685
15,Warsaw,4.500000,117356.0,486449.5,4.145076,NaN,NaN,NaN
16,Zurich,4.395985,113424.0,456708.5,4.026560,NaN,NaN,NaN
17,Athens,NaN,166935.0,709513.5,4.250238,NaN,NaN,NaN
18,Brussels,NaN,264784.0,1037669.5,3.918928,NaN,NaN,NaN
19,Copenhagen,NaN,187387.0,761366.0,4.063067,NaN,NaN,NaN
20,Edinburgh,NaN,402045.0,1685973.0,4.193493,NaN,NaN,NaN
21,Krakow,NaN,160617.0,684467.0,4.261485,NaN,NaN,NaN
22,Lisbon,NaN,455280.0,1869658.5,4.106612,NaN,NaN,NaN
23,Ljubljana,NaN,41706.0,174925.0,4.194241,NaN,NaN,NaN
24,Luxembourg,NaN,46606.0,183383.0,3.934751,NaN,NaN,NaN
25,Lyon,NaN,226278.0,886411.5,3.917356,NaN,NaN,NaN
26,Madrid,NaN,810267.0,3202378.5,3.952251,NaN,NaN,NaN
27,Oporto,NaN,195713.0,817437.5,4.176715,NaN,NaN,NaN
28,Oslo,NaN,99256.0,394974.0,3.979346,NaN,NaN,NaN
29,Paris,NaN,1537453.0,6081674.5,3.955682,289700.0,2420505.7,8.355215
30,Rome,NaN,1694602.0,6907121.5,4.075955,NaN,NaN,NaN

In [31]:
data_tripadvisor_integrated = data_tripadvisor_integrated[['city','media_pesata_x', 'media_pesata_y', 'media_pesata']]

In [33]:
data_tripadvisor_integrated.columns = ['city', 'museum_rating', 'restaurant_rating', 'hotel_rating']

In [34]:
tripadvisor_integrated = trip_db.tripadvisor_integrated
tripadvisor_integrated.insert_many(data_tripadvisor_integrated.to_dict('records'))

In [33]:
eu_db = client.Eurostat_db
coll = eu_db.Eurostat_integrated
cursor=coll.find({})
data_eu_int = pd.DataFrame(cursor)
data_eu_int

,_id,"Share of journeys to work by public transport (rail, metro, bus, tram)",city,Cost of a combined monthly ticket (all modes of public transport) for 5-10 km in the central zone,Number of public libraries,Average temperature of warmest month,Green urban areas and sports and leisure facilities,People killed in road accidents per 10000 pop,Total population on the 1st of January,Average temperature of coldest month,...,Transport infrastructure,Share of journeys to work by bicycle,Number of available beds per 1000 residents,Rainfall,Number of murders and violent deaths,Number of bed-places in tourist accommodation establishments,Share of journeys to work by foot,Cost of a taxi ride of 5 km to the centre at day time,Number of museum visitors,Total nights spent in tourist accommodation establishments
0,5e1b057c41b104b9ff8d76e7,297.690131,Belgium,52.162559,26.111162,19.204831,NaN,8.705862,1.132562e+07,2.901383,...,14.0,3.475788,288555.857661,870.947518,198.175066,3.438823e+07,0.701955,11.188160,3.076995,2.604648e+06
1,5e1b057c41b104b9ff8d76e8,675.137155,Bruxelles / Brussel,35.961476,31.913670,19.329885,13.2,2.076010,1.199625e+06,2.250328,...,41.7,4.892044,36839.657225,824.188095,35.396935,5.772217e+06,0.228306,11.965250,5.026683,1.177071e+06
2,5e1b057c41b104b9ff8d76e9,438.584852,Antwerpen,35.961476,24.175411,19.246839,6.8,13.040000,5.111085e+05,2.293227,...,12.4,2.960000,12217.141010,753.683333,17.052107,1.525453e+06,0.403951,11.695296,3.127094,8.720082e+05
3,5e1b057c41b104b9ff8d76ea,63.683276,Gent,33.761608,24.508292,19.166790,6.6,12.550000,2.547193e+05,2.291790,...,9.9,2.310000,6174.183908,767.314696,5.134100,7.608346e+05,0.421452,9.593033,3.102956,9.241979e+04
4,5e1b057c41b104b9ff8d76eb,115.879833,Charleroi,35.089030,6.807718,18.960140,6.2,0.600000,2.013813e+05,1.556322,...,5.5,2.010000,1378.833128,794.498276,9.586207,2.178220e+05,0.494254,9.857590,1.077494,1.752855e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,5e1b057c41b104b9ff8d7b05,NaN,Luzern,NaN,NaN,NaN,NaN,NaN,7.920575e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1055,5e1b057c41b104b9ff8d7b06,NaN,Luzern (greater city),NaN,NaN,NaN,NaN,NaN,1.559056e+05,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1056,5e1b057c41b104b9ff8d7b07,NaN,Lugano,NaN,NaN,NaN,NaN,NaN,5.958176e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1057,5e1b057c41b104b9ff8d7b08,NaN,Lugano (greater city),NaN,NaN,NaN,NaN,NaN,7.926573e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1058,5e1b057c41b104b9ff8d7b09,NaN,Biel/Bienne,NaN,NaN,NaN,NaN,NaN,5.140723e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
#Creo un dizionario per eliminare, nelle città in cui nome è presente '/', le parti di nome successive
diz_slash = {}
i=0
for el in data_eu_int['city'].str.split('/'):
    if len(el) > 1:
        diz_slash[i] = el[0]
    i += 1

In [36]:
diz_slash

{1: 'Bruxelles ',
 218: 'Vitoria',
 220: 'Pamplona',
 227: 'Alicante',
 285: 'Elche',
 290: 'San Sebastián',
 300: 'Castellón de la Plana',
 338: 'San Vicente del Raspeig',
 793: 'Helsinki ',
 794: 'Tampere ',
 795: 'Turku ',
 797: 'Espoo ',
 798: 'Vantaa ',
 799: 'Lahti ',
 829: 'Helsinki ',
 921: 'North Lanarkshire (Airdrie',
 1041: 'Schweiz',
 1058: 'Biel'}

In [37]:
#Elimino, nei nomi delle città, le parti in cui sono presenti le parentesi
diz_par = {}
i=0
for el in data_eu_int['city'].str.split('('):
    if len(el) > 1:
        print(el)
        diz_par[i] = el[0]
    i += 1

['København ', 'greater city)']
['Frankfurt ', 'Oder)']
['Kempten ', 'Allgäu)']
['Frankenthal ', 'Pfalz)']
['Oldenburg ', 'Oldenburg)']
['Dublin ', 'greater city)']
['Athina ', 'greater city)']
['Paris ', 'greater city)']
['Luxembourg ', 'Grand Duchy)']
['Milano ', 'greater city)']
['Napoli ', 'greater city)']
['Lisboa ', 'greater city)']
['Porto ', 'greater city)']
['Helsinki / Helsingfors ', 'greater city)']
['Stockholm ', 'greater city)']
['London ', 'greater city)']
['Leicester ', 'greater city)']
['Portsmouth ', 'greater city)']
['North Lanarkshire ', 'Airdrie/Bellshill/Coatbridge/Motherwell)']
['Southend-on-Sea ', 'greater city)']
['Reading ', 'greater city)']
['Preston ', 'greater city)']
['Inverclyde ', 'Greenock)']
['Renfrewshire ', 'Paisley)']
['Zürich ', 'greater city)']
['Genève ', 'greater city)']
['Basel ', 'greater city)']
['Bern ', 'greater city)']
['Lausanne ', 'greater city)']
['Luzern ', 'greater city)']
['Lugano ', 'greater city)']

In [38]:
diz_par

{52: 'København ',
 83: 'Frankfurt ',
 119: 'Kempten ',
 123: 'Frankenthal ',
 154: 'Oldenburg ',
 190: 'Dublin ',
 197: 'Athina ',
 341: 'Paris ',
 570: 'Luxembourg ',
 823: 'Milano ',
 824: 'Napoli ',
 827: 'Lisboa ',
 828: 'Porto ',
 829: 'Helsinki / Helsingfors ',
 830: 'Stockholm ',
 831: 'London ',
 844: 'Leicester ',
 853: 'Portsmouth ',
 921: 'North Lanarkshire ',
 961: 'Southend-on-Sea ',
 973: 'Reading ',
 984: 'Preston ',
 1004: 'Inverclyde ',
 1005: 'Renfrewshire ',
 1043: 'Zürich ',
 1045: 'Genève ',
 1047: 'Basel ',
 1049: 'Bern ',
 1051: 'Lausanne ',
 1055: 'Luzern ',
 1057: 'Lugano '}

In [39]:
data_eu_int = data_eu_int.drop(index=diz_par.keys())

In [40]:
#Aggiorno il Dataset con i nuovi nomi delle città ottenuti in diz_slash e diz_par
data_eu_int['city'].update(pd.Series(diz_slash))

In [41]:
data_eu_int

,_id,"Share of journeys to work by public transport (rail, metro, bus, tram)",city,Cost of a combined monthly ticket (all modes of public transport) for 5-10 km in the central zone,Number of public libraries,Average temperature of warmest month,Green urban areas and sports and leisure facilities,People killed in road accidents per 10000 pop,Total population on the 1st of January,Average temperature of coldest month,...,Transport infrastructure,Share of journeys to work by bicycle,Number of available beds per 1000 residents,Rainfall,Number of murders and violent deaths,Number of bed-places in tourist accommodation establishments,Share of journeys to work by foot,Cost of a taxi ride of 5 km to the centre at day time,Number of museum visitors,Total nights spent in tourist accommodation establishments
0,5e1b057c41b104b9ff8d76e7,297.690131,Belgium,52.162559,26.111162,19.204831,NaN,8.705862,1.132562e+07,2.901383,...,14.0,3.475788,288555.857661,870.947518,198.175066,3.438823e+07,0.701955,11.188160,3.076995,2.604648e+06
1,5e1b057c41b104b9ff8d76e8,675.137155,Bruxelles,35.961476,31.913670,19.329885,13.2,2.076010,1.199625e+06,2.250328,...,41.7,4.892044,36839.657225,824.188095,35.396935,5.772217e+06,0.228306,11.965250,5.026683,1.177071e+06
2,5e1b057c41b104b9ff8d76e9,438.584852,Antwerpen,35.961476,24.175411,19.246839,6.8,13.040000,5.111085e+05,2.293227,...,12.4,2.960000,12217.141010,753.683333,17.052107,1.525453e+06,0.403951,11.695296,3.127094,8.720082e+05
3,5e1b057c41b104b9ff8d76ea,63.683276,Gent,33.761608,24.508292,19.166790,6.6,12.550000,2.547193e+05,2.291790,...,9.9,2.310000,6174.183908,767.314696,5.134100,7.608346e+05,0.421452,9.593033,3.102956,9.241979e+04
4,5e1b057c41b104b9ff8d76eb,115.879833,Charleroi,35.089030,6.807718,18.960140,6.2,0.600000,2.013813e+05,1.556322,...,5.5,2.010000,1378.833128,794.498276,9.586207,2.178220e+05,0.494254,9.857590,1.077494,1.752855e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1052,5e1b057c41b104b9ff8d7b03,NaN,Winterthur,NaN,NaN,NaN,NaN,NaN,1.012830e+05,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1053,5e1b057c41b104b9ff8d7b04,NaN,St. Gallen,NaN,NaN,NaN,NaN,NaN,7.434376e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1054,5e1b057c41b104b9ff8d7b05,NaN,Luzern,NaN,NaN,NaN,NaN,NaN,7.920575e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1056,5e1b057c41b104b9ff8d7b07,NaN,Lugano,NaN,NaN,NaN,NaN,NaN,5.958176e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1058,5e1b057c41b104b9ff8d7b09,NaN,Biel,NaN,NaN,NaN,NaN,NaN,5.140723e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
data_eu_int = data_eu_int.reset_index(drop=True)
data_eu_int

,_id,"Share of journeys to work by public transport (rail, metro, bus, tram)",city,Cost of a combined monthly ticket (all modes of public transport) for 5-10 km in the central zone,Number of public libraries,Average temperature of warmest month,Green urban areas and sports and leisure facilities,People killed in road accidents per 10000 pop,Total population on the 1st of January,Average temperature of coldest month,...,Transport infrastructure,Share of journeys to work by bicycle,Number of available beds per 1000 residents,Rainfall,Number of murders and violent deaths,Number of bed-places in tourist accommodation establishments,Share of journeys to work by foot,Cost of a taxi ride of 5 km to the centre at day time,Number of museum visitors,Total nights spent in tourist accommodation establishments
0,5e1b057c41b104b9ff8d76e7,297.690131,Belgium,52.162559,26.111162,19.204831,NaN,8.705862,1.132562e+07,2.901383,...,14.0,3.475788,288555.857661,870.947518,198.175066,3.438823e+07,0.701955,11.188160,3.076995,2.604648e+06
1,5e1b057c41b104b9ff8d76e8,675.137155,Bruxelles,35.961476,31.913670,19.329885,13.2,2.076010,1.199625e+06,2.250328,...,41.7,4.892044,36839.657225,824.188095,35.396935,5.772217e+06,0.228306,11.965250,5.026683,1.177071e+06
2,5e1b057c41b104b9ff8d76e9,438.584852,Antwerpen,35.961476,24.175411,19.246839,6.8,13.040000,5.111085e+05,2.293227,...,12.4,2.960000,12217.141010,753.683333,17.052107,1.525453e+06,0.403951,11.695296,3.127094,8.720082e+05
3,5e1b057c41b104b9ff8d76ea,63.683276,Gent,33.761608,24.508292,19.166790,6.6,12.550000,2.547193e+05,2.291790,...,9.9,2.310000,6174.183908,767.314696,5.134100,7.608346e+05,0.421452,9.593033,3.102956,9.241979e+04
4,5e1b057c41b104b9ff8d76eb,115.879833,Charleroi,35.089030,6.807718,18.960140,6.2,0.600000,2.013813e+05,1.556322,...,5.5,2.010000,1378.833128,794.498276,9.586207,2.178220e+05,0.494254,9.857590,1.077494,1.752855e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,5e1b057c41b104b9ff8d7b03,NaN,Winterthur,NaN,NaN,NaN,NaN,NaN,1.012830e+05,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1024,5e1b057c41b104b9ff8d7b04,NaN,St. Gallen,NaN,NaN,NaN,NaN,NaN,7.434376e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1025,5e1b057c41b104b9ff8d7b05,NaN,Luzern,NaN,NaN,NaN,NaN,NaN,7.920575e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1026,5e1b057c41b104b9ff8d7b07,NaN,Lugano,NaN,NaN,NaN,NaN,NaN,5.958176e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1027,5e1b057c41b104b9ff8d7b09,NaN,Biel,NaN,NaN,NaN,NaN,NaN,5.140723e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
#Elimino le righe  he rappresentano uno stato e non una città
from country_list import countries_for_language

countries = dict(countries_for_language('en'))
del countries['LU']
countries['CZ'] ='Czech Republic'            
l3 = [x for x in data_eu_int['city']  if x not in countries.values()]
l4 = [x for x in data_eu_int['city']  if x in countries.values()]

In [44]:
data_prova=data_eu_int

In [45]:
i=0
for el in data_prova['city']:
    for x in l4:
        if el == x:
            data_prova=data_prova.drop(index=i)
    i+=1
data_prova

,_id,"Share of journeys to work by public transport (rail, metro, bus, tram)",city,Cost of a combined monthly ticket (all modes of public transport) for 5-10 km in the central zone,Number of public libraries,Average temperature of warmest month,Green urban areas and sports and leisure facilities,People killed in road accidents per 10000 pop,Total population on the 1st of January,Average temperature of coldest month,...,Transport infrastructure,Share of journeys to work by bicycle,Number of available beds per 1000 residents,Rainfall,Number of murders and violent deaths,Number of bed-places in tourist accommodation establishments,Share of journeys to work by foot,Cost of a taxi ride of 5 km to the centre at day time,Number of museum visitors,Total nights spent in tourist accommodation establishments
1,5e1b057c41b104b9ff8d76e8,675.137155,Bruxelles,35.961476,31.913670,19.329885,13.2,2.076010,1.199625e+06,2.250328,...,41.7,4.892044,36839.657225,824.188095,35.396935,5.772217e+06,0.228306,11.965250,5.026683,1.177071e+06
2,5e1b057c41b104b9ff8d76e9,438.584852,Antwerpen,35.961476,24.175411,19.246839,6.8,13.040000,5.111085e+05,2.293227,...,12.4,2.960000,12217.141010,753.683333,17.052107,1.525453e+06,0.403951,11.695296,3.127094,8.720082e+05
3,5e1b057c41b104b9ff8d76ea,63.683276,Gent,33.761608,24.508292,19.166790,6.6,12.550000,2.547193e+05,2.291790,...,9.9,2.310000,6174.183908,767.314696,5.134100,7.608346e+05,0.421452,9.593033,3.102956,9.241979e+04
4,5e1b057c41b104b9ff8d76eb,115.879833,Charleroi,35.089030,6.807718,18.960140,6.2,0.600000,2.013813e+05,1.556322,...,5.5,2.010000,1378.833128,794.498276,9.586207,2.178220e+05,0.494254,9.857590,1.077494,1.752855e+05
5,5e1b057c41b104b9ff8d76ec,229.041872,Liège,35.961476,7.959897,20.367570,2.6,1.120222,4.305199e+05,2.502874,...,8.2,3.717032,3010.948071,847.720772,15.416092,4.346761e+05,0.523006,10.272027,1.142118,9.005167e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,5e1b057c41b104b9ff8d7b03,NaN,Winterthur,NaN,NaN,NaN,NaN,NaN,1.012830e+05,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1024,5e1b057c41b104b9ff8d7b04,NaN,St. Gallen,NaN,NaN,NaN,NaN,NaN,7.434376e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1025,5e1b057c41b104b9ff8d7b05,NaN,Luzern,NaN,NaN,NaN,NaN,NaN,7.920575e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1026,5e1b057c41b104b9ff8d7b07,NaN,Lugano,NaN,NaN,NaN,NaN,NaN,5.958176e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1027,5e1b057c41b104b9ff8d7b09,NaN,Biel,NaN,NaN,NaN,NaN,NaN,5.140723e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
#Correggo nomi di città per integrazione
lista_citta={    "Amsterdam":"Greater Amsterdam", "Athens":"Athina" , "Barcelona":"Barcelona" , "Berlin":"Berlin"  ,
       "Bratislava" :"Bratislava",  "Brussels":"Bruxelles "  , "Budapest":"Budapest", "Copenhagen":"København"  ,
       "Dublin" :"Dublin" , "Edinburgh" :"City of Edinburgh" ,  "Geneva" :"Genève" ,  "Hamburg" :"Hamburg", "Helsinki":"Helsinki " ,             
       "Krakow" :"Kraków" ,  "Lisbon":"Lisboa"  ,  "Ljubljana":"Ljubljana" ,  "London":"City of London", "Luxembourg":"Luxembourg",
       "Lyon" : "Lyon" , "Madrid" : "Madrid"   ,    "Milan" : "Milano"  ,  "Munich" : "München" ,   
        "Oporto"  : "Porto"  , "Oslo" : "Oslo" ,  "Paris" : "Paris" ,
       "Prague"  : "Praha" ,     "Rome" : "Roma","Stockholm" : " Stockholm","Vienna" : "Wien","Warsaw" : "Warszawa","Zurich" : "Zürich", "Frankfurt" :'Frankfurt am Main',
            "Venice" : "Venezia"}

In [95]:
#Integration
eu_db = client.Eurostat_db
trip_db = client.Tripadvisor_db
tou_db = client.Tourist_db
col_db = client.cost_of_life_db
twi_db = client.Twitter_indicator

coll1 = eu_db.Eurostat_integrated_better
coll2 = trip_db.tripadvisor_integrated
coll3 = tou_db.tourist_for_each_city
coll4 = col_db.indicator_cost_of_life
coll5 = twi_db.indicator

eu_data = pd.DataFrame(list(coll1.find({})))
tripadv_data = pd.DataFrame(list(coll2.find({})))
tou_data = pd.DataFrame(list(coll3.find({})))
col_data = pd.DataFrame(list(coll4.find({})))
twi_data = pd.DataFrame(list(coll5.find({})))

In [50]:
lista=[]
for el in data_prova['city']:
    for x in lista_citta:
        if el==lista_citta[x]:
            el=x
    lista.append(el)

In [51]:
data_prova['city'] = lista

In [52]:
eu_data=data_prova

In [53]:
eu_data

,_id,"Share of journeys to work by public transport (rail, metro, bus, tram)",city,Cost of a combined monthly ticket (all modes of public transport) for 5-10 km in the central zone,Number of public libraries,Average temperature of warmest month,Green urban areas and sports and leisure facilities,People killed in road accidents per 10000 pop,Total population on the 1st of January,Average temperature of coldest month,...,Transport infrastructure,Share of journeys to work by bicycle,Number of available beds per 1000 residents,Rainfall,Number of murders and violent deaths,Number of bed-places in tourist accommodation establishments,Share of journeys to work by foot,Cost of a taxi ride of 5 km to the centre at day time,Number of museum visitors,Total nights spent in tourist accommodation establishments
1,5e1b057c41b104b9ff8d76e8,675.137155,Brussels,35.961476,31.913670,19.329885,13.2,2.076010,1.199625e+06,2.250328,...,41.7,4.892044,36839.657225,824.188095,35.396935,5.772217e+06,0.228306,11.965250,5.026683,1.177071e+06
2,5e1b057c41b104b9ff8d76e9,438.584852,Antwerpen,35.961476,24.175411,19.246839,6.8,13.040000,5.111085e+05,2.293227,...,12.4,2.960000,12217.141010,753.683333,17.052107,1.525453e+06,0.403951,11.695296,3.127094,8.720082e+05
3,5e1b057c41b104b9ff8d76ea,63.683276,Gent,33.761608,24.508292,19.166790,6.6,12.550000,2.547193e+05,2.291790,...,9.9,2.310000,6174.183908,767.314696,5.134100,7.608346e+05,0.421452,9.593033,3.102956,9.241979e+04
4,5e1b057c41b104b9ff8d76eb,115.879833,Charleroi,35.089030,6.807718,18.960140,6.2,0.600000,2.013813e+05,1.556322,...,5.5,2.010000,1378.833128,794.498276,9.586207,2.178220e+05,0.494254,9.857590,1.077494,1.752855e+05
5,5e1b057c41b104b9ff8d76ec,229.041872,Liège,35.961476,7.959897,20.367570,2.6,1.120222,4.305199e+05,2.502874,...,8.2,3.717032,3010.948071,847.720772,15.416092,4.346761e+05,0.523006,10.272027,1.142118,9.005167e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,5e1b057c41b104b9ff8d7b03,NaN,Winterthur,NaN,NaN,NaN,NaN,NaN,1.012830e+05,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1024,5e1b057c41b104b9ff8d7b04,NaN,St. Gallen,NaN,NaN,NaN,NaN,NaN,7.434376e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1025,5e1b057c41b104b9ff8d7b05,NaN,Luzern,NaN,NaN,NaN,NaN,NaN,7.920575e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1026,5e1b057c41b104b9ff8d7b07,NaN,Lugano,NaN,NaN,NaN,NaN,NaN,5.958176e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1027,5e1b057c41b104b9ff8d7b09,NaN,Biel,NaN,NaN,NaN,NaN,NaN,5.140723e+04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
del eu_data['_id']

In [55]:
Eurostat_integrated_better = eu_db.Eurostat_integrated_better
Eurostat_integrated_better.insert_many(eu_data.to_dict('records'))

In [56]:
lista=[]
for el in tripadv_data['city']:
    for x in lista_citta:
        if el==lista_citta[x]:
            el=x
    lista.append(el)

In [57]:
tripadv_data['city'] = lista

In [58]:
tripadv_data

,_id,city,museum_rating,restaurant_rating,hotel_rating
0,5e1b2c500a2574304ccb4c23,Amsterdam,4.500000,4.154251,8.362745
1,5e1b2c500a2574304ccb4c24,Barcelona,4.403424,4.057356,8.443287
2,5e1b2c500a2574304ccb4c25,Berlin,4.296173,4.077183,NaN
3,5e1b2c500a2574304ccb4c26,Bratislava,4.500000,4.111237,NaN
4,5e1b2c500a2574304ccb4c27,Budapest,4.220217,4.220921,NaN
5,5e1b2c500a2574304ccb4c28,Dublin,4.000000,4.198944,NaN
6,5e1b2c500a2574304ccb4c29,Geneva,4.227933,3.985553,NaN
7,5e1b2c500a2574304ccb4c2a,Hamburg,4.500000,4.097901,NaN
8,5e1b2c500a2574304ccb4c2b,Helsinki,4.077570,3.995604,NaN
9,5e1b2c500a2574304ccb4c2c,London,4.389502,4.021528,8.338994
10,5e1b2c500a2574304ccb4c2d,Milan,4.500000,3.872284,8.313971
11,5e1b2c500a2574304ccb4c2e,Munich,4.500000,4.037121,NaN
12,5e1b2c500a2574304ccb4c2f,Prague,4.222949,4.131996,NaN
13,5e1b2c500a2574304ccb4c30,Stockholm,4.481566,3.980591,NaN
14,5e1b2c500a2574304ccb4c31,Vienna,4.464837,4.065641,8.521685
15,5e1b2c500a2574304ccb4c32,Warsaw,4.500000,4.145076,NaN
16,5e1b2c500a2574304ccb4c33,Zurich,4.395985,4.026560,NaN
17,5e1b2c500a2574304ccb4c34,Athens,NaN,4.250238,NaN
18,5e1b2c500a2574304ccb4c35,Brussels,NaN,3.918928,NaN
19,5e1b2c500a2574304ccb4c36,Copenhagen,NaN,4.063067,NaN
20,5e1b2c500a2574304ccb4c37,Edinburgh,NaN,4.193493,NaN
21,5e1b2c500a2574304ccb4c38,Krakow,NaN,4.261485,NaN
22,5e1b2c500a2574304ccb4c39,Lisbon,NaN,4.106612,NaN
23,5e1b2c500a2574304ccb4c3a,Ljubljana,NaN,4.194241,NaN
24,5e1b2c500a2574304ccb4c3b,Luxembourg,NaN,3.934751,NaN
25,5e1b2c500a2574304ccb4c3c,Lyon,NaN,3.917356,NaN
26,5e1b2c500a2574304ccb4c3d,Madrid,NaN,3.952251,NaN
27,5e1b2c500a2574304ccb4c3e,Oporto,NaN,4.176715,NaN
28,5e1b2c500a2574304ccb4c3f,Oslo,NaN,3.979346,NaN
29,5e1b2c500a2574304ccb4c40,Paris,NaN,3.955682,8.355215
30,5e1b2c500a2574304ccb4c41,Rome,NaN,4.075955,NaN

In [59]:
del tripadv_data['_id']

In [60]:
data_eu_tripadv_int = eu_data.merge(tripadv_data, on='city', how='outer')
data_eu_tripadv_int

,"Share of journeys to work by public transport (rail, metro, bus, tram)",city,Cost of a combined monthly ticket (all modes of public transport) for 5-10 km in the central zone,Number of public libraries,Average temperature of warmest month,Green urban areas and sports and leisure facilities,People killed in road accidents per 10000 pop,Total population on the 1st of January,Average temperature of coldest month,Total nights spent in tourist accommodation establishments per resident population,...,Rainfall,Number of murders and violent deaths,Number of bed-places in tourist accommodation establishments,Share of journeys to work by foot,Cost of a taxi ride of 5 km to the centre at day time,Number of museum visitors,Total nights spent in tourist accommodation establishments,museum_rating,restaurant_rating,hotel_rating
0,675.137155,Brussels,35.961476,31.913670,19.329885,13.2,2.076010,1.199625e+06,2.250328,27.825534,...,824.188095,35.396935,5.772217e+06,0.228306,11.965250,5.026683,1.177071e+06,NaN,3.918928,NaN
1,438.584852,Antwerpen,35.961476,24.175411,19.246839,6.8,13.040000,5.111085e+05,2.293227,18.128079,...,753.683333,17.052107,1.525453e+06,0.403951,11.695296,3.127094,8.720082e+05,NaN,NaN,NaN
2,63.683276,Gent,33.761608,24.508292,19.166790,6.6,12.550000,2.547193e+05,2.291790,15.654351,...,767.314696,5.134100,7.608346e+05,0.421452,9.593033,3.102956,9.241979e+04,NaN,NaN,NaN
3,115.879833,Charleroi,35.089030,6.807718,18.960140,6.2,0.600000,2.013813e+05,1.556322,46.050903,...,794.498276,9.586207,2.178220e+05,0.494254,9.857590,1.077494,1.752855e+05,NaN,NaN,NaN
4,229.041872,Liège,35.961476,7.959897,20.367570,2.6,1.120222,4.305199e+05,2.502874,12.992611,...,847.720772,15.416092,4.346761e+05,0.523006,10.272027,1.142118,9.005167e+05,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,NaN,Winterthur,NaN,NaN,NaN,NaN,NaN,1.012830e+05,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,St. Gallen,NaN,NaN,NaN,NaN,NaN,7.434376e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,Luzern,NaN,NaN,NaN,NaN,NaN,7.920575e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,Lugano,NaN,NaN,NaN,NaN,NaN,5.958176e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,NaN,Biel,NaN,NaN,NaN,NaN,NaN,5.140723e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
del tou_data['_id']

In [63]:
tou_data = tou_data.rename(columns={'City':'city'})
tou_data
lista = []

for el in tou_data['city']:
    for x in lista_citta:
        if el==lista_citta[x]:
            el=x
    lista.append(el)

In [64]:
tou_data['city'] = lista

In [65]:
tou_data

          city  Arrivals_19
0       London   19559900.0
1        Paris   19087900.0
2    Istanbul    14715900.0
3         Rome   10317000.0
4       Prague    9150900.0
5    Amsterdam    8835400.0
6    Barcelona    7016600.0
7        Milan    6604400.0
8       Vienna    6634700.0
9       Berlin    6195800.0
10      Athens    6301300.0
11      Venice    5590500.0
12      Madrid    5597800.0
13      Dublin    5462100.0
14      Munich    4205500.0
15    Brussels    4276000.0
16    Budapest    4025400.0
17      Lisbon    3639900.0
18  Copenhagen    3185600.0
19      Krakow    2910000.0
20      Warsaw    2827000.0
21   Frankfurt    2728100.0
22   Stockholm    2721900.0
23      Oporto    2491700.0

In [66]:
data_eu_tripadv_tou_int = data_eu_tripadv_int.merge(tou_data, on='city', how='outer')
data_eu_tripadv_tou_int

,"Share of journeys to work by public transport (rail, metro, bus, tram)",city,Cost of a combined monthly ticket (all modes of public transport) for 5-10 km in the central zone,Number of public libraries,Average temperature of warmest month,Green urban areas and sports and leisure facilities,People killed in road accidents per 10000 pop,Total population on the 1st of January,Average temperature of coldest month,Total nights spent in tourist accommodation establishments per resident population,...,Number of murders and violent deaths,Number of bed-places in tourist accommodation establishments,Share of journeys to work by foot,Cost of a taxi ride of 5 km to the centre at day time,Number of museum visitors,Total nights spent in tourist accommodation establishments,museum_rating,restaurant_rating,hotel_rating,Arrivals_19
0,675.137155,Brussels,35.961476,31.913670,19.329885,13.2,2.076010,1.199625e+06,2.250328,27.825534,...,35.396935,5.772217e+06,0.228306,11.965250,5.026683,1.177071e+06,NaN,3.918928,NaN,4276000.0
1,438.584852,Antwerpen,35.961476,24.175411,19.246839,6.8,13.040000,5.111085e+05,2.293227,18.128079,...,17.052107,1.525453e+06,0.403951,11.695296,3.127094,8.720082e+05,NaN,NaN,NaN,NaN
2,63.683276,Gent,33.761608,24.508292,19.166790,6.6,12.550000,2.547193e+05,2.291790,15.654351,...,5.134100,7.608346e+05,0.421452,9.593033,3.102956,9.241979e+04,NaN,NaN,NaN,NaN
3,115.879833,Charleroi,35.089030,6.807718,18.960140,6.2,0.600000,2.013813e+05,1.556322,46.050903,...,9.586207,2.178220e+05,0.494254,9.857590,1.077494,1.752855e+05,NaN,NaN,NaN,NaN
4,229.041872,Liège,35.961476,7.959897,20.367570,2.6,1.120222,4.305199e+05,2.502874,12.992611,...,15.416092,4.346761e+05,0.523006,10.272027,1.142118,9.005167e+05,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,NaN,St. Gallen,NaN,NaN,NaN,NaN,NaN,7.434376e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,Luzern,NaN,NaN,NaN,NaN,NaN,7.920575e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,Lugano,NaN,NaN,NaN,NaN,NaN,5.958176e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,NaN,Biel,NaN,NaN,NaN,NaN,NaN,5.140723e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,NaN,Istanbul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14715900.0

In [78]:
del col_data['_id']

In [79]:
col_data

,index,Amsterdam,Athens,Barcelona,Berlin,Bratislava,Brussels,Budapest,Copenhagen,Dublin,...,Monaco,Porto,Oslo,Paris,Prague,Roma,Stockholm,Vienna,Warsaw,Zurich
0,Indice del Costo della Vita (Escl. Affitto),"79,23","57,37","59,34","65,44","48,84","72,86","43,94","86,56","79,67",...,"105,53","50,51","102,49","85,99","49,34","71,17","77,13","66,06","44,31","129,27"
1,Indice degli affitti,"54,56","14,89","31,70","33,18","22,01","30,34","17,85","44,68","61,89",...,"249,20","25,07","44,28","47,22","26,38","34,89","38,11","30,97","22,19","62,22"
2,Indice degli generi alimentari,"59,48","43,86","45,45","51,05","40,58","61,31","33,58","63,33","61,19",...,"73,12","40,27","90,64","80,09","40,00","58,13","65,90","57,21","34,70","129,85"
3,Indice dei Ristoranti,"81,63","57,64","57,08","55,03","40,65","81,59","37,17","104,55","82,50",...,"142,26","42,72","112,24","81,60","39,15","74,82","80,55","63,31","38,91","125,15"
4,Indice del costo della vita comprensivo di aff...,"67,42","37,04","46,11","50,00","36,00","52,51","31,45","66,51","71,16",...,"174,29","38,34","74,63","67,43","38,35","53,80","58,45","49,27","33,73","97,18"
5,Potere d'acquisto Locale,"83,66","45,58","67,03","97,78","62,94","93,30","52,30","89,60","76,11",...,"50,83","44,97","85,41","70,41","66,09","57,97","91,23","82,37","62,15","125,23"
6,"Pasto, Ristorante Economico","15,00","10,00","11,00","8,50","6,00","15,00","6,05","17,40","15,00",...,"22,70","7,50","19,30","15,00","5,94","15,00","11,43","10,00","5,90","23,09"
7,"Pasto per 2 Persone, Ristorante Medio, Tre Por...","60,00","40,00","40,00","40,00","30,00","60,00","30,23","80,29","60,00",...,"140,00","30,00","81,25","50,00","29,72","55,00","66,66","45,00","28,34","92,35"
8,Menu da McDonalds (o menu equivalente),"8,00","6,00","7,00","7,00","6,00","8,20","4,84","10,04","8,00",...,"8,00","6,00","11,17","8,60","5,55","8,00","7,62","7,25","4,72","12,93"
9,"Birra nazionale (0,5L alla spina)","4,50","4,00","2,50","3,50","2,00","4,00","1,51","6,69","5,80",...,"6,50","2,00","9,04","6,75","1,58","5,00","6,19","4,00","2,36","6,23"
10,"Birra d'Importazione (bottiglia da 0,33L)","4,00","4,00","3,00","3,00","2,00","4,00","1,81","5,35","5,50",...,"6,00","2,50","9,14","6,00","1,98","4,00","6,67","4,00","2,36","5,54"
11,Cappuccino (normale),"3,12","3,13","1,80","2,74","2,08","3,17","1,42","5,19","3,20",...,"3,96","1,62","4,30","3,41","2,17","1,27","3,63","3,20","2,49","4,65"
12,"Coca/Pepsi (bottiglia da 0,33L)","2,34","1,53","1,64","2,04","1,61","2,47","1,03","3,02","1,80",...,"4,07","1,32","2,93","3,18","1,22","1,88","2,32","2,77","1,00","3,87"
13,"Acqua (bottiglia da 0,33L)","1,94","0,50","1,23","1,74","1,24","2,11","0,83","2,25","1,59",...,"3,48","0,97","2,52","2,29","0,91","0,99","1,99","2,05","0,80","3,20"
14,"Latte (normale), (1L)","1,02","1,22","0,86","0,81","0,76","1,00","0,71","1,20","0,95",...,"1,57","0,67","1,80","1,22","0,77","1,28","1,17","1,03","0,63","1,57"
15,Filone di pane bianco fresco (500g),"1,45","0,79","0,99","1,33","0,96","1,63","0,70","2,70","1,42",...,"2,90","1,23","2,96","1,49","0,97","1,56","2,16","1,75","0,76","2,85"
16,"Riso (bianco), (1kg)","1,88","1,69","1,02","1,79","1,13","2,24","1,03","1,88","1,59",...,"2,00","0,86","2,44","1,81","1,40","2,03","2,44","1,26","0,88","2,51"
17,Uova (normali) (12),"2,58","2,90","1,56","1,90","1,92","2,87","1,50","3,07","2,79",...,"3,05","1,78","3,83","3,39","1,70","2,99","2,80","2,55","1,84","5,32"
18,Formaggio locale (1kg),"11,78","8,29","10,88","8,32","7,54","13,04","5,68","10,50","7,51",...,"14,50","6,42","10,69","18,24","7,89","12,33","8,22","10,41","6,55","22,60"
19,"Petto di pollo (disossato, senza pelle), (1kg)","8,73","6,99","6,46","7,03","5,33","9,02","4,40","8,60","8,35",...,"12,25","5,40","12,75","12,84","6,04","8,32","9,85","8,95","4,27","25,20"
20,Girello di Manzo (1kg) (o carne rossa equivale...,"13,49","9,21","10,26","11,38","8,59","13,29","7,53","11,38","9,24",...,"9,00","9,49","25,70","18,89","9,25","14,54","14,90","14,30","9,43","46,04"
21,Mele (1kg),"2,26","1,33","1,73","2,17","1,57","2,15","1,03","2,44","2,09",...,"1,50","1,69","2,61","3,08","1,24","1,88","2,48","1,99","0,73","3,82"
22,Banane (1kg),"1,76","1,43","1,53","1,44","1,56","1,61","1,30","2,25","1,90",...,"4,00","1,21","2,24","2,10","1,21","1,77","2,21","1,67","1,07","2,80"
23,Arance (1kg),"1,76","0,98","1,34","2,22","1,47","2,20","1,17","2,59","2,30",...,"1,50","1,36","2,40","2,64","1,39","1,84","2,36","2,08","1,21","4,09"
24,Pomodori (1kg),"2,35","1,56","1,56","2,19","2,32","2,01","1,76","3,00","2,77",...,"2,00","1,35","3,07","2,82","1,78","2,04","3,11","2,33","1,51","3,78"
25,Patate (1kg),"1,54","0,93","0,99","1,45","0,86","1,46","0,83","1,63","1,56",...,"3,50","0,96","1,87","1,98","0,90","1,33","1,19","1,29","0,61","2,69"
26,Cipolle (1kg),"1,26","0,86","1,24","1,37","0,88","1,29","0,90","1,33","1,14",...,"1,50","1,20","1,62","2,28","0,85","1,29","1,20","1,34","0,67","2,61"
27,Lattuga (1 cespo),"1,03","0,61","0,94","1,12","0,95","1,27","0,98","1,45","0,94",...,"2,00","0,95","2,03","1,27","0,98","1,00","1,84","1,19","0,81","2,58"
28,"Acqua (bottiglia da 1,5L)","0,82","0,82","0,61","0,51","0,59","0,94","0,35","1,09","1,43",...,"1,75","0,58","1,76","0,88","0,52","0,38","1,61","0,54","0,49","1,20"
29,Bottiglia di vino (livello medio),"5,99","7,25","6,00","5,00","5,00","7,00","4,08","8,03","12,00",...,"14,00","4,00","15,23","8,00","5,13","6,00","9,52","6,99","5,90","12,01"
30,"Birra nazionale (bottiglia da 0,5L)","1,25","1,38","0,83","0,86","0,72","1,22","0,78","1,61","2,42",...,"3,00","0,98","3,04","1,79","0,66","1,02","1,83","0,98","0,78","1,79"
31,"Birra d'Importazione (bottiglia da 0,33L)","2,09","1,92","1,44","1,30","1,27","1,89","1,08","2,18","2,69",...,"2,50","2,04","3,65","2,26","1,23","1,61","1,89","1,54","1,14","2,55"
32,Sigarette pacchetto da 20 (Marlboro),"7,00","4,50","5,00","6,40","3,85","6,70","4,07","6,02","12,70",...,"7,25","5,00","12,04","8,80","4,00","5,50","6,19","5,50","3,90","7,85"
33,Biglietto sola andata (mezzi locali),"3,20","1,40","2,15","2,80","0,90","2,10","1,06","3,21","3,00",...,"2,00","1,25","3,66","1,90","0,95","1,50","3,81","2,40","1,04","3,88"
34,Abbonamento mensile (prezzo intero),"97,00","30,00","50,00","81,00","27,00","49,00","28,72","53,53","125,00",...,"27,00","31,00","76,17","75,00","21,79","35,00","84,75","48,00","25,98","78,50"
35,Taxi addebito iniziale (tariffa normale),"5,00","3,50","2,50","3,90","3,00","3,00","2,12","6,69","4,00",...,"3,00","3,50","10,16","5,00","1,58","4,00","4,29","4,00","1,89","6,46"
36,Taxi 1km (tariffa normale),"2,35","0,74","1,15","2,00","0,75","1,95","0,91","2,01","1,35",...,"3,70","0,48","1,42","1,35","1,11","1,41","1,32","1,42","0,57","3,69"
37,Taxi 1 ora di attesa (tariffa normale),"40,00","11,81","22,10","30,00","15,00","30,00","13,60","53,55","26,73",...,"42,00","14,80","43,69","39,02","14,26","27,00","49,52","27,80","9,45","73,70"
38,Benzina (1 litro),"1,66","1,59","1,33","1,44","1,34","1,44","1,20","1,50","1,44",...,"1,50","1,52","1,66","1,56","1,30","1,57","1,49","1,24","1,19","1,53"
39,Volkswagen Golf 1.4 90kW Trendline (o automobi...,"25.505,00","18.000,00","22.000,00","19.520,00","16.250,00","20.200,00","17.534,09","33.454,89","24.000,00",...,"23.340,00","25.900,00","34.785,03","21.500,00","17.790,33","20.700,00","20.368,07","22.700,00","18.564,02","22.579,96"
40,Toyota Corolla 1.6 97kW Comfort (o automobile ...,"26.516,33","18.806,83","20.971,43","19.749,00","15.769,52","21.788,33","18.276,20","32.220,34","25.618,07",...,"26.333,33","24.087,50","31.388,63","24.250,00","17.546,76","23.535,29","20.921,04","22.357,62","18.695,99","21.425,11"
41,"Basilari (Elettricità, Riscaldamento, Aria con...","170,49","138,10","136,65","231,80","181,71","123,14","148,53","196,68","169,12",...,"269,50","100,74","160,32","172,97","176,78","170,31","73,41","158,45","147,96","164,23"
42,1 minuto di tariffa locale da una ricaricabile...,"0,18","0,34","0,13","0,10","0,09","0,23","0,08","0,12","0,26",...,"0,15","0,15","0,09","0,19","0,13","0,18","0,12","0,04","0,06","0,26"
43,"Internet (60 Mbps o più, dati illimitati, Fibr...","40,81","30,89","42,78","29,35","15,79","43,80","12,94","34,23","54,02",...,"60,00","31,00","45,55","27,63","19,89","29,64","28,48","31,05","12,73","48,24"
44,"Centro sportivo, Tariffa Mensile per 1 adulto","35,71","28,57","41,41","26,46","26,58","25,60","38,08","36,83","39,88",...,"140,00","32,44","42,33","39,98","34,60","57,36","37,79","27,37","25,92","76,24"
45,Affitto di un campo da Tennis (1 ora nel Weekend),"24,88","17,64","18,70","19,23","12,14","17,11","12,18","29,55","15,94",...,"28,67","11,53","29,20","20,05","12,47","16,81","26,76","18,33","14,53","32,86"
46,"Cinema, Prima Visione, 1 Posto","12,00","8,00","8,55","10,00","8,00","11,00","5,44","14,72","12,00",...,"12,00","7,00","14,22","11,00","7,92","8,50","12,86","10,00","7,09","16,62"
47,"Scuola Materna (o Asilo), Tempo Pieno, Privata...","1.571,67","362,42","438,89","177,88","398,33","695,44","273,77","427,86","1.041,49",...,"1.200,00","324,00","321,11","874,05","483,64","528,62","115,55","211,88","328,39","2.176,88"
48,"Scuola primaria Internazionale, Annuale per 1 ...","12.952,94","7.349,52","7.638,04","6.829,05","8.060,00","18.342,86","6.566,01","7.550,19","8.193,89",...,"19.333,33","5.992,86","11.031,53","12.939,69","8.661,66","11.828,57","5.801,17","16.035,71","8.041,83","28.380,30"
49,1 Paio di Jeans (Levis 501 o Simile),"82,80","71,33","72,62","81,41","62,38","71,48","58,31","102,77","77,58",...,"68,33","84,61","92,79","86,33","71,22","79,80","86,02","78,53","66,70","106,80"
50,"1 Vestito estivo di una catena (Zara, H&M, ...)","37,48","28,37","25,44","32,13","26,96","33,81","27,64","37,84","35,37",...,"53,33","28,89","37,14","36,00","33,03","31,39","32,94","32,94","35,64","46,42"
51,1 Paio di scarpe da corsa Nike (livello medio),"92,34","77,79","79,88","80,98","64,58","79,79","68,91","101,44","85,14",...,"113,33","69,33","97,58","92,28","72,11","79,82","91,81","81,05","71,67","111,25"
52,1 paio di Scarpe di Pelle da Uomo,"133,24","91,68","93,29","104,48","75,73","116,11","79,69","130,13","95,37",...,"195,00","74,25","131,77","135,98","90,94","114,61","127,63","108,19","85,83","171,02"
53,Appartamento (1 camera da letto) in Centro Città,"1.583,73","377,68","942,47","895,39","635,45","834,20","480,61","1.230,11","1.677,45",...,"3.166,67","683,66","1.283,58","1.176,28","778,20","989,73","1.174,32","860,42","628,14","1.696,61"
54,Appartamento (1 camera da letto) Fuori dal Cen...,"1.192,84","339,46","723,75","650,40","487,66","683,41","356,13","916,31","1.396,74",...,"3.200,00","508,97","984,96","832,02","586,04","682,05","806,08","621,08","474,90","1.256,33"
55,Appartamento (3 camere da letto) in Centro Città,"2.665,62","674,77","1.502,99","1.687,91","1.043,08","1.432,14","927,28","2.214,59","2.968,04",...,"17.000,00","1.301,47","2.098,23","2.595,10","1.283,56","1.831,82","1.938,63","1.583,84","1.083,92","3.096,17"
56,Appartamento (3 camere da letto) Fuori dal Cen...,"1.863,54","611,53","1.085,21","1.218,97","780,43","1.121,81","638,87","1.652,26","2.288,14",...,"10.000,00","871,21","1.599,72","1.734,54","902,43","1.167,57","1.195,76","1.103,14","799,42","2.293,81"
57,Prezzo per Metro Quadro per Comprare un Appart...,"7.660,57","1.881,00","4.409,20","6.080,07","3.118,33","3.232,14","2.936,38","6.146,22","5.457,63",...,"55.000,00","2.660,48","8.335,91","11.258,59","4.930,48","6.486,96","8.841,31","6.403,78","3.250,54","11.387,05"
58,Prezzo per Metro Quadro per Comprare un Appart...,"4.981,48","1.740,68","3.044,23","3.815,38","2.304,35","2.538,10","1.920,43","4.243,10","4.134,61",...,"41.000,00","1.578,91","5.603,43","8.303,70","3.442,98","2.904,35","5.233,66","4.164,43","2.117,16","7.396,93"

In [80]:
col_data_l =  col_data.loc[6::]
col_data_l['index'] = ['Meal, Inexpensive Restaurant'
,'Meal for 2 People, Mid-range Restaurant, Three-course'
,'McMeal at McDonalds (or Equivalent Combo Meal)'
,'Domestic Beer (0.5 liter draught)'
,'Imported Beer (0.33 liter bottle)'
,'Cappuccino (regular)'
,'Coke/Pepsi (0.33 liter bottle)'
,'Water (0.33 liter bottle)'
,'Milk (regular), (1 liter)'
,'Loaf of Fresh White Bread (500g)'
,'Rice (white), (1kg)'
,'Eggs (regular) (12)'
,'Local Cheese (1kg)'
,'Chicken Breasts (Boneless, Skinless), (1kg)'
,'Beef Round (1kg) (or Equivalent Back Leg Red Meat)'
,'Apples (1kg)'
,'Banana (1kg)'
,'Oranges (1kg)'
,'Tomato (1kg)'
,'Potato (1kg)'
,'Onion (1kg)'
,'Lettuce (1 head)'
,'Water (1.5 liter bottle)'
,'Bottle of Wine (Mid-Range)'
,'Domestic Beer (0.5 liter bottle)'
,'Imported Beer (0.33 liter bottle)'
,'Cigarettes 20 Pack (Marlboro)'
,'One-way Ticket (Local Transport)'
,'Monthly Pass (Regular Price)'
,'Taxi Start (Normal Tariff)'
,'Taxi 1km (Normal Tariff)'
,'Taxi 1hour Waiting (Normal Tariff)'
,'Gasoline (1 liter)'
,'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)'
,'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)'
,'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment'
,'1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)'
,'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)'
,'Fitness Club, Monthly Fee for 1 Adult'
,'Tennis Court Rent (1 Hour on Weekend)'
,'Cinema, International Release, 1 Seat'
,'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child'
,'International Primary School, Yearly for 1 Child'
,'1 Pair of Jeans (Levis 501 Or Similar)'
,'1 Summer Dress in a Chain Store (Zara, H&M, ...)'
,'1 Pair of Nike Running Shoes (Mid-Range)'
,'1 Pair of Men Leather Business Shoes'
,'Apartment (1 bedroom) in City Centre'
,'Apartment (1 bedroom) Outside of Centre'
,'Apartment (3 bedrooms) in City Centre'
,'Apartment (3 bedrooms) Outside of Centre'
,'Price per Square Meter to Buy Apartment in City Centre'
,'Price per Square Meter to Buy Apartment Outside of Centre']
col_data_l

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,Amsterdam,Athens,Barcelona,Berlin,Bratislava,Brussels,Budapest,Copenhagen,Dublin,...,Monaco,Porto,Oslo,Paris,Prague,Roma,Stockholm,Vienna,Warsaw,Zurich
6,"Meal, Inexpensive Restaurant","15,00","10,00","11,00","8,50","6,00","15,00","6,05","17,40","15,00",...,"22,70","7,50","19,30","15,00","5,94","15,00","11,43","10,00","5,90","23,09"
7,"Meal for 2 People, Mid-range Restaurant, Three...","60,00","40,00","40,00","40,00","30,00","60,00","30,23","80,29","60,00",...,"140,00","30,00","81,25","50,00","29,72","55,00","66,66","45,00","28,34","92,35"
8,McMeal at McDonalds (or Equivalent Combo Meal),"8,00","6,00","7,00","7,00","6,00","8,20","4,84","10,04","8,00",...,"8,00","6,00","11,17","8,60","5,55","8,00","7,62","7,25","4,72","12,93"
9,Domestic Beer (0.5 liter draught),"4,50","4,00","2,50","3,50","2,00","4,00","1,51","6,69","5,80",...,"6,50","2,00","9,04","6,75","1,58","5,00","6,19","4,00","2,36","6,23"
10,Imported Beer (0.33 liter bottle),"4,00","4,00","3,00","3,00","2,00","4,00","1,81","5,35","5,50",...,"6,00","2,50","9,14","6,00","1,98","4,00","6,67","4,00","2,36","5,54"
11,Cappuccino (regular),"3,12","3,13","1,80","2,74","2,08","3,17","1,42","5,19","3,20",...,"3,96","1,62","4,30","3,41","2,17","1,27","3,63","3,20","2,49","4,65"
12,Coke/Pepsi (0.33 liter bottle),"2,34","1,53","1,64","2,04","1,61","2,47","1,03","3,02","1,80",...,"4,07","1,32","2,93","3,18","1,22","1,88","2,32","2,77","1,00","3,87"
13,Water (0.33 liter bottle),"1,94","0,50","1,23","1,74","1,24","2,11","0,83","2,25","1,59",...,"3,48","0,97","2,52","2,29","0,91","0,99","1,99","2,05","0,80","3,20"
14,"Milk (regular), (1 liter)","1,02","1,22","0,86","0,81","0,76","1,00","0,71","1,20","0,95",...,"1,57","0,67","1,80","1,22","0,77","1,28","1,17","1,03","0,63","1,57"
15,Loaf of Fresh White Bread (500g),"1,45","0,79","0,99","1,33","0,96","1,63","0,70","2,70","1,42",...,"2,90","1,23","2,96","1,49","0,97","1,56","2,16","1,75","0,76","2,85"
16,"Rice (white), (1kg)","1,88","1,69","1,02","1,79","1,13","2,24","1,03","1,88","1,59",...,"2,00","0,86","2,44","1,81","1,40","2,03","2,44","1,26","0,88","2,51"
17,Eggs (regular) (12),"2,58","2,90","1,56","1,90","1,92","2,87","1,50","3,07","2,79",...,"3,05","1,78","3,83","3,39","1,70","2,99","2,80","2,55","1,84","5,32"
18,Local Cheese (1kg),"11,78","8,29","10,88","8,32","7,54","13,04","5,68","10,50","7,51",...,"14,50","6,42","10,69","18,24","7,89","12,33","8,22","10,41","6,55","22,60"
19,"Chicken Breasts (Boneless, Skinless), (1kg)","8,73","6,99","6,46","7,03","5,33","9,02","4,40","8,60","8,35",...,"12,25","5,40","12,75","12,84","6,04","8,32","9,85","8,95","4,27","25,20"
20,Beef Round (1kg) (or Equivalent Back Leg Red M...,"13,49","9,21","10,26","11,38","8,59","13,29","7,53","11,38","9,24",...,"9,00","9,49","25,70","18,89","9,25","14,54","14,90","14,30","9,43","46,04"
21,Apples (1kg),"2,26","1,33","1,73","2,17","1,57","2,15","1,03","2,44","2,09",...,"1,50","1,69","2,61","3,08","1,24","1,88","2,48","1,99","0,73","3,82"
22,Banana (1kg),"1,76","1,43","1,53","1,44","1,56","1,61","1,30","2,25","1,90",...,"4,00","1,21","2,24","2,10","1,21","1,77","2,21","1,67","1,07","2,80"
23,Oranges (1kg),"1,76","0,98","1,34","2,22","1,47","2,20","1,17","2,59","2,30",...,"1,50","1,36","2,40","2,64","1,39","1,84","2,36","2,08","1,21","4,09"
24,Tomato (1kg),"2,35","1,56","1,56","2,19","2,32","2,01","1,76","3,00","2,77",...,"2,00","1,35","3,07","2,82","1,78","2,04","3,11","2,33","1,51","3,78"
25,Potato (1kg),"1,54","0,93","0,99","1,45","0,86","1,46","0,83","1,63","1,56",...,"3,50","0,96","1,87","1,98","0,90","1,33","1,19","1,29","0,61","2,69"
26,Onion (1kg),"1,26","0,86","1,24","1,37","0,88","1,29","0,90","1,33","1,14",...,"1,50","1,20","1,62","2,28","0,85","1,29","1,20","1,34","0,67","2,61"
27,Lettuce (1 head),"1,03","0,61","0,94","1,12","0,95","1,27","0,98","1,45","0,94",...,"2,00","0,95","2,03","1,27","0,98","1,00","1,84","1,19","0,81","2,58"
28,Water (1.5 liter bottle),"0,82","0,82","0,61","0,51","0,59","0,94","0,35","1,09","1,43",...,"1,75","0,58","1,76","0,88","0,52","0,38","1,61","0,54","0,49","1,20"
29,Bottle of Wine (Mid-Range),"5,99","7,25","6,00","5,00","5,00","7,00","4,08","8,03","12,00",...,"14,00","4,00","15,23","8,00","5,13","6,00","9,52","6,99","5,90","12,01"
30,Domestic Beer (0.5 liter bottle),"1,25","1,38","0,83","0,86","0,72","1,22","0,78","1,61","2,42",...,"3,00","0,98","3,04","1,79","0,66","1,02","1,83","0,98","0,78","1,79"
31,Imported Beer (0.33 liter bottle),"2,09","1,92","1,44","1,30","1,27","1,89","1,08","2,18","2,69",...,"2,50","2,04","3,65","2,26","1,23","1,61","1,89","1,54","1,14","2,55"
32,Cigarettes 20 Pack (Marlboro),"7,00","4,50","5,00","6,40","3,85","6,70","4,07","6,02","12,70",...,"7,25","5,00","12,04","8,80","4,00","5,50","6,19","5,50","3,90","7,85"
33,One-way Ticket (Local Transport),"3,20","1,40","2,15","2,80","0,90","2,10","1,06","3,21","3,00",...,"2,00","1,25","3,66","1,90","0,95","1,50","3,81","2,40","1,04","3,88"
34,Monthly Pass (Regular Price),"97,00","30,00","50,00","81,00","27,00","49,00","28,72","53,53","125,00",...,"27,00","31,00","76,17","75,00","21,79","35,00","84,75","48,00","25,98","78,50"
35,Taxi Start (Normal Tariff),"5,00","3,50","2,50","3,90","3,00","3,00","2,12","6,69","4,00",...,"3,00","3,50","10,16","5,00","1,58","4,00","4,29","4,00","1,89","6,46"
36,Taxi 1km (Normal Tariff),"2,35","0,74","1,15","2,00","0,75","1,95","0,91","2,01","1,35",...,"3,70","0,48","1,42","1,35","1,11","1,41","1,32","1,42","0,57","3,69"
37,Taxi 1hour Waiting (Normal Tariff),"40,00","11,81","22,10","30,00","15,00","30,00","13,60","53,55","26,73",...,"42,00","14,80","43,69","39,02","14,26","27,00","49,52","27,80","9,45","73,70"
38,Gasoline (1 liter),"1,66","1,59","1,33","1,44","1,34","1,44","1,20","1,50","1,44",...,"1,50","1,52","1,66","1,56","1,30","1,57","1,49","1,24","1,19","1,53"
39,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,"25.505,00","18.000,00","22.000,00","19.520,00","16.250,00","20.200,00","17.534,09","33.454,89","24.000,00",...,"23.340,00","25.900,00","34.785,03","21.500,00","17.790,33","20.700,00","20.368,07","22.700,00","18.564,02","22.579,96"
40,Toyota Corolla 1.6l 97kW Comfort (Or Equivalen...,"26.516,33","18.806,83","20.971,43","19.749,00","15.769,52","21.788,33","18.276,20","32.220,34","25.618,07",...,"26.333,33","24.087,50","31.388,63","24.250,00","17.546,76","23.535,29","20.921,04","22.357,62","18.695,99","21.425,11"
41,"Basic (Electricity, Heating, Cooling, Water, G...","170,49","138,10","136,65","231,80","181,71","123,14","148,53","196,68","169,12",...,"269,50","100,74","160,32","172,97","176,78","170,31","73,41","158,45","147,96","164,23"
42,1 min. of Prepaid Mobile Tariff Local (No Disc...,"0,18","0,34","0,13","0,10","0,09","0,23","0,08","0,12","0,26",...,"0,15","0,15","0,09","0,19","0,13","0,18","0,12","0,04","0,06","0,26"
43,"Internet (60 Mbps or More, Unlimited Data, Cab...","40,81","30,89","42,78","29,35","15,79","43,80","12,94","34,23","54,02",...,"60,00","31,00","45,55","27,63","19,89","29,64","28,48","31,05","12,73","48,24"
44,"Fitness Club, Monthly Fee for 1 Adult","35,71","28,57","41,41","26,46","26,58","25,60","38,08","36,83","39,88",...,"140,00","32,44","42,33","39,98","34,60","57,36","37,79","27,37","25,92","76,24"
45,Tennis Court Rent (1 Hour on Weekend),"24,88","17,64","18,70","19,23","12,14","17,11","12,18","29,55","15,94",...,"28,67","11,53","29,20","20,05","12,47","16,81","26,76","18,33","14,53","32,86"
46,"Cinema, International Release, 1 Seat","12,00","8,00","8,55","10,00","8,00","11,00","5,44","14,72","12,00",...,"12,00","7,00","14,22","11,00","7,92","8,50","12,86","10,00","7,09","16,62"
47,"Preschool (or Kindergarten), Full Day, Private...","1.571,67","362,42","438,89","177,88","398,33","695,44","273,77","427,86","1.041,49",...,"1.200,00","324,00","321,11","874,05","483,64","528,62","115,55","211,88","328,39","2.176,88"
48,"International Primary School, Yearly for 1 Child","12.952,94","7.349,52","7.638,04","6.829,05","8.060,00","18.342,86","6.566,01","7.550,19","8.193,89",...,"19.333,33","5.992,86","11.031,53","12.939,69","8.661,66","11.828,57","5.801,17","16.035,71","8.041,83","28.380,30"
49,1 Pair of Jeans (Levis 501 Or Similar),"82,80","71,33","72,62","81,41","62,38","71,48","58,31","102,77","77,58",...,"68,33","84,61","92,79","86,33","71,22","79,80","86,02","78,53","66,70","106,80"
50,"1 Summer Dress in a Chain Store (Zara, H&M, ...)","37,48","28,37","25,44","32,13","26,96","33,81","27,64","37,84","35,37",...,"53,33","28,89","37,14","36,00","33,03","31,39","32,94","32,94","35,64","46,42"
51,1 Pair of Nike Running Shoes (Mid-Range),"92,34","77,79","79,88","80,98","64,58","79,79","68,91","101,44","85,14",...,"113,33","69,33","97,58","92,28","72,11","79,82","91,81","81,05","71,67","111,25"
52,1 Pair of Men Leather Business Shoes,"133,24","91,68","93,29","104,48","75,73","116,11","79,69","130,13","95,37",...,"195,00","74,25","131,77","135,98","90,94","114,61","127,63","108,19","85,83","171,02"
53,Apartment (1 bedroom) in City Centre,"1.583,73","377,68","942,47","895,39","635,45","834,20","480,61","1.230,11","1.677,45",...,"3.166,67","683,66","1.283,58","1.176,28","778,20","989,73","1.174,32","860,42","628,14","1.696,61"
54,Apartment (1 bedroom) Outside of Centre,"1.192,84","339,46","723,75","650,40","487,66","683,41","356,13","916,31","1.396,74",...,"3.200,00","508,97","984,96","832,02","586,04","682,05","806,08","621,08","474,90","1.256,33"
55,Apartment (3 bedrooms) in City Centre,"2.665,62","674,77","1.502,99","1.687,91","1.043,08","1.432,14","927,28","2.214,59","2.968,04",...,"17.000,00","1.301,47","2.098,23","2.595,10","1.283,56","1.831,82","1.938,63","1.583,84","1.083,92","3.096,17"
56,Apartment (3 bedrooms) Outside of Centre,"1.863,54","611,53","1.085,21","1.218,97","780,43","1.121,81","638,87","1.652,26","2.288,14",...,"10.000,00","871,21","1.599,72","1.734,54","902,43","1.167,57","1.195,76","1.103,14","799,42","2.293,81"
57,Price per Square Meter to Buy Apartment in Cit...,"7.660,57","1.881,00","4.409,20","6.080,07","3.118,33","3.232,14","2.936,38","6.146,22","5.457,63",...,"55.000,00","2.660,48","8.335,91","11.258,59","4.930,48","6.486,96","8.841,31","6.403,78","3.250,54","11.387,05"
58,Price per Square Meter to Buy Apartment Outsid...,"4.981,48","1.740,68","3.044,23","3.815,38","2.304,35","2.538,10","1.920,43","4.243,10","4.134,61",...,"41.000,00","1.578,91","5.603,43","8.303,70","3.442,98","2.904,35","5.233,66","4.164,43","2.117,16","7.396,93"

In [288]:
col_data_lt = col_data_l.T

In [289]:
col_data_lt=col_data_lt.reset_index()

In [290]:
col_data_lt=col_data_lt.loc[1::]

In [291]:
col_data_lt

,index,6,7,8,9,10,11,12,13,14,...,49,50,51,52,53,54,55,56,57,58
1,Amsterdam,"15,00","60,00","8,00","4,50","4,00","3,12","2,34","1,94","1,02",...,"82,80","37,48","92,34","133,24","1.583,73","1.192,84","2.665,62","1.863,54","7.660,57","4.981,48"
2,Athens,"10,00","40,00","6,00","4,00","4,00","3,13","1,53","0,50","1,22",...,"71,33","28,37","77,79","91,68","377,68","339,46","674,77","611,53","1.881,00","1.740,68"
3,Barcelona,"11,00","40,00","7,00","2,50","3,00","1,80","1,64","1,23","0,86",...,"72,62","25,44","79,88","93,29","942,47","723,75","1.502,99","1.085,21","4.409,20","3.044,23"
4,Berlin,"8,50","40,00","7,00","3,50","3,00","2,74","2,04","1,74","0,81",...,"81,41","32,13","80,98","104,48","895,39","650,40","1.687,91","1.218,97","6.080,07","3.815,38"
5,Bratislava,"6,00","30,00","6,00","2,00","2,00","2,08","1,61","1,24","0,76",...,"62,38","26,96","64,58","75,73","635,45","487,66","1.043,08","780,43","3.118,33","2.304,35"
6,Brussels,"15,00","60,00","8,20","4,00","4,00","3,17","2,47","2,11","1,00",...,"71,48","33,81","79,79","116,11","834,20","683,41","1.432,14","1.121,81","3.232,14","2.538,10"
7,Budapest,"6,05","30,23","4,84","1,51","1,81","1,42","1,03","0,83","0,71",...,"58,31","27,64","68,91","79,69","480,61","356,13","927,28","638,87","2.936,38","1.920,43"
8,Copenhagen,"17,40","80,29","10,04","6,69","5,35","5,19","3,02","2,25","1,20",...,"102,77","37,84","101,44","130,13","1.230,11","916,31","2.214,59","1.652,26","6.146,22","4.243,10"
9,Dublin,"15,00","60,00","8,00","5,80","5,50","3,20","1,80","1,59","0,95",...,"77,58","35,37","85,14","95,37","1.677,45","1.396,74","2.968,04","2.288,14","5.457,63","4.134,61"
10,Edinburgh,"17,70","64,89","6,20","4,72","4,72","3,14","1,55","1,06","1,03",...,"71,88","33,67","75,67","73,62","932,41","733,69","1.682,85","1.214,49","4.779,21","3.080,72"
11,Geneva,"23,09","83,12","12,61","7,39","6,46","3,88","3,64","2,85","1,51",...,"104,11","56,66","124,27","170,47","1.841,26","1.430,30","3.285,32","2.684,22","11.837,79","8.811,88"
12,Hamburg,"12,00","50,00","8,00","4,00","3,50","2,89","2,60","2,09","0,85",...,"75,78","33,24","90,96","120,32","882,50","649,00","1.717,31","1.253,70","6.250,00","3.735,71"
13,Helsinki,"12,00","65,00","8,00","6,50","6,75","3,87","2,66","1,89","0,96",...,"83,29","31,19","82,36","121,77","991,91","760,03","1.819,32","1.265,71","7.444,54","4.072,41"
14,Lisbon,"8,50","35,00","6,00","2,00","2,50","1,47","1,35","0,99","0,64",...,"80,42","30,18","76,42","89,39","882,50","617,25","1.683,52","1.126,15","4.307,58","2.447,18"
15,Ljubljana,"8,00","35,00","5,00","2,60","3,40","1,48","2,15","1,58","0,92",...,"62,63","29,19","76,29","91,13","579,22","443,49","1.072,37","787,14","3.527,27","2.587,88"
16,London,"17,70","64,89","7,08","5,90","5,31","3,34","1,68","1,34","1,14",...,"77,32","37,46","79,05","93,86","2.050,94","1.438,55","3.689,77","2.403,12","15.417,86","8.235,97"
17,Luxembourg,"17,00","70,00","9,00","5,00","4,50","3,17","2,69","2,56","1,40",...,"84,55","36,56","75,94","125,91","1.502,00","1.219,62","2.715,00","2.120,45","9.321,62","6.511,76"
18,Lyon,"12,00","50,00","8,25","6,00","4,00","2,67","2,26","1,44","1,09",...,"80,53","38,46","87,78","115,27","640,48","508,57","1.273,89","916,67","4.718,46","2.818,18"
19,Madrid,"11,00","40,00","8,00","3,00","3,00","1,76","1,68","1,29","0,84",...,"71,50","27,10","71,04","86,82","930,62","705,00","1.638,46","1.130,53","5.233,54","2.966,34"
20,Milano,"15,00","60,00","8,00","5,00","5,00","1,47","2,49","1,12","1,20",...,"86,78","32,87","86,36","137,32","1.106,13","736,07","2.330,00","1.428,00","8.292,11","3.747,37"
21,Monaco,"22,70","140,00","8,00","6,50","6,00","3,96","4,07","3,48","1,57",...,"68,33","53,33","113,33","195,00","3.166,67","3.200,00","17.000,00","10.000,00","55.000,00","41.000,00"
22,Porto,"7,50","30,00","6,00","2,00","2,50","1,62","1,32","0,97","0,67",...,"84,61","28,89","69,33","74,25","683,66","508,97","1.301,47","871,21","2.660,48","1.578,91"
23,Oslo,"19,30","81,25","11,17","9,04","9,14","4,30","2,93","2,52","1,80",...,"92,79","37,14","97,58","131,77","1.283,58","984,96","2.098,23","1.599,72","8.335,91","5.603,43"
24,Paris,"15,00","50,00","8,60","6,75","6,00","3,41","3,18","2,29","1,22",...,"86,33","36,00","92,28","135,98","1.176,28","832,02","2.595,10","1.734,54","11.258,59","8.303,70"
25,Prague,"5,94","29,72","5,55","1,58","1,98","2,17","1,22","0,91","0,77",...,"71,22","33,03","72,11","90,94","778,20","586,04","1.283,56","902,43","4.930,48","3.442,98"
26,Roma,"15,00","55,00","8,00","5,00","4,00","1,27","1,88","0,99","1,28",...,"79,80","31,39","79,82","114,61","989,73","682,05","1.831,82","1.167,57","6.486,96","2.904,35"
27,Stockholm,"11,43","66,66","7,62","6,19","6,67","3,63","2,32","1,99","1,17",...,"86,02","32,94","91,81","127,63","1.174,32","806,08","1.938,63","1.195,76","8.841,31","5.233,66"
28,Vienna,"10,00","45,00","7,25","4,00","4,00","3,20","2,77","2,05","1,03",...,"78,53","32,94","81,05","108,19","860,42","621,08","1.583,84","1.103,14","6.403,78","4.164,43"
29,Warsaw,"5,90","28,34","4,72","2,36","2,36","2,49","1,00","0,80","0,63",...,"66,70","35,64","71,67","85,83","628,14","474,90","1.083,92","799,42","3.250,54","2.117,16"
30,Zurich,"23,09","92,35","12,93","6,23","5,54","4,65","3,87","3,20","1,57",...,"106,80","46,42","111,25","171,02","1.696,61","1.256,33","3.096,17","2.293,81","11.387,05","7.396,93"

In [292]:
col_data_lt = col_data_lt.reset_index()

In [293]:
del col_data_lt['level_0']

In [294]:
col_data_lt.columns=['city','Meal, Inexpensive Restaurant'
,'Meal for 2 People, Mid-range Restaurant, Three-course'
,'McMeal at McDonalds (or Equivalent Combo Meal)'
,'Domestic Beer (0,5 liter draught) Restaurant'
,'Imported Beer (0,33 liter bottle) Restaurant'
,'Cappuccino (regular)'
,'Coke/Pepsi (0,33 liter bottle)'
,'Water (0,33 liter bottle)'
,'Milk (regular), (1 liter)'
,'Loaf of Fresh White Bread (500g)'
,'Rice (white), (1kg)'
,'Eggs (regular) (12)'
,'Local Cheese (1kg)'
,'Chicken Breasts (Boneless, Skinless), (1kg)'
,'Beef Round (1kg) (or Equivalent Back Leg Red Meat)'
,'Apples (1kg)'
,'Banana (1kg)'
,'Oranges (1kg)'
,'Tomato (1kg)'
,'Potato (1kg)'
,'Onion (1kg)'
,'Lettuce (1 head)'
,'Water (1,5 liter bottle)'
,'Bottle of Wine (Mid-Range)'
,'Domestic Beer (0,5 liter bottle)'
,'Imported Beer (0,33 liter bottle)'
,'Cigarettes 20 Pack (Marlboro)'
,'One-way Ticket (Local Transport)'
,'Monthly Pass (Regular Price)'
,'Taxi Start (Normal Tariff)'
,'Taxi 1km (Normal Tariff)'
,'Taxi 1hour Waiting (Normal Tariff)'
,'Gasoline (1 liter)'
,'Volkswagen Golf 1,4 90 KW Trendline (Or Equivalent New Car)'
,'Toyota Corolla 1,6l 97kW Comfort (Or Equivalent New Car)'
,'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment'
,'1 min of Prepaid Mobile Tariff Local (No Discounts or Plans)'
,'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)'
,'Fitness Club, Monthly Fee for 1 Adult'
,'Tennis Court Rent (1 Hour on Weekend)'
,'Cinema, International Release, 1 Seat'
,'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child'
,'International Primary School, Yearly for 1 Child'
,'1 Pair of Jeans (Levis 501 Or Similar)'
,'1 Summer Dress in a Chain Store (Zara, H&M, ecc)'
,'1 Pair of Nike Running Shoes (Mid-Range)'
,'1 Pair of Men Leather Business Shoes'
,'Apartment (1 bedroom) in City Centre'
,'Apartment (1 bedroom) Outside of Centre'
,'Apartment (3 bedrooms) in City Centre'
,'Apartment (3 bedrooms) Outside of Centre'
,'Price per Square Meter to Buy Apartment in City Centre'
,'Price per Square Meter to Buy Apartment Outside of Centre']

In [295]:
lista_citta = {'Rome':'Roma', 'Milan':'Milano', 'Munich':'Monaco', 'Oporto':'Porto'}

lista = []

for el in col_data_lt['city']:
    for x in lista_citta:
        if el==lista_citta[x]:
            el=x
    lista.append(el)

In [296]:
col_data_lt['city'] = lista

In [300]:
col_rid = col_data_lt.iloc[:,1:]

In [301]:
lista=[]
for el in col_rid.columns:
    lista.append(el)

In [303]:
for index,row in col_rid.iterrows():
    for el in lista:
        if type(row[str(el)]) != int:
            row[str(el)] = row[str(el)].replace('.','')
#row[str(el)] = row[str(el)].replace(',','.')
#col_rid
#data_eu_tripadv_tou_col_twi_int["Volkswagen Golf 1,4 90 KW Trendline (Or Equivalent New Car)"][0]

In [304]:
for index,row in col_rid.iterrows():
    for el in lista:
        if type(row[str(el)]) != int:
            row[str(el)] = row[str(el)].replace(',','.')

In [308]:
for index,row in col_rid.iterrows():
    for el in lista:
        if type(row[str(el)]) != int:
            row[str(el)] = float(row[str(el)])

In [311]:
col_rid['city']=col_data_lt['city']

In [312]:
col_rid

,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),"Domestic Beer (0,5 liter draught) Restaurant","Imported Beer (0,33 liter bottle) Restaurant",Cappuccino (regular),"Coke/Pepsi (0,33 liter bottle)","Water (0,33 liter bottle)","Milk (regular), (1 liter)",Loaf of Fresh White Bread (500g),...,"1 Summer Dress in a Chain Store (Zara, H&M, ecc)",1 Pair of Nike Running Shoes (Mid-Range),1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Price per Square Meter to Buy Apartment in City Centre,Price per Square Meter to Buy Apartment Outside of Centre,city
0,15,60,8,4.5,4,3.12,2.34,1.94,1.02,1.45,...,37.48,92.34,133.24,1583.73,1192.84,2665.62,1863.54,7660.57,4981.48,Amsterdam
1,10,40,6,4,4,3.13,1.53,0.5,1.22,0.79,...,28.37,77.79,91.68,377.68,339.46,674.77,611.53,1881,1740.68,Athens
2,11,40,7,2.5,3,1.8,1.64,1.23,0.86,0.99,...,25.44,79.88,93.29,942.47,723.75,1502.99,1085.21,4409.2,3044.23,Barcelona
3,8.5,40,7,3.5,3,2.74,2.04,1.74,0.81,1.33,...,32.13,80.98,104.48,895.39,650.4,1687.91,1218.97,6080.07,3815.38,Berlin
4,6,30,6,2,2,2.08,1.61,1.24,0.76,0.96,...,26.96,64.58,75.73,635.45,487.66,1043.08,780.43,3118.33,2304.35,Bratislava
5,15,60,8.2,4,4,3.17,2.47,2.11,1,1.63,...,33.81,79.79,116.11,834.2,683.41,1432.14,1121.81,3232.14,2538.1,Brussels
6,6.05,30.23,4.84,1.51,1.81,1.42,1.03,0.83,0.71,0.7,...,27.64,68.91,79.69,480.61,356.13,927.28,638.87,2936.38,1920.43,Budapest
7,17.4,80.29,10.04,6.69,5.35,5.19,3.02,2.25,1.2,2.7,...,37.84,101.44,130.13,1230.11,916.31,2214.59,1652.26,6146.22,4243.1,Copenhagen
8,15,60,8,5.8,5.5,3.2,1.8,1.59,0.95,1.42,...,35.37,85.14,95.37,1677.45,1396.74,2968.04,2288.14,5457.63,4134.61,Dublin
9,17.7,64.89,6.2,4.72,4.72,3.14,1.55,1.06,1.03,1.04,...,33.67,75.67,73.62,932.41,733.69,1682.85,1214.49,4779.21,3080.72,Edinburgh
10,23.09,83.12,12.61,7.39,6.46,3.88,3.64,2.85,1.51,3.16,...,56.66,124.27,170.47,1841.26,1430.3,3285.32,2684.22,11837.8,8811.88,Geneva
11,12,50,8,4,3.5,2.89,2.6,2.09,0.85,1.55,...,33.24,90.96,120.32,882.5,649,1717.31,1253.7,6250,3735.71,Hamburg
12,12,65,8,6.5,6.75,3.87,2.66,1.89,0.96,2.27,...,31.19,82.36,121.77,991.91,760.03,1819.32,1265.71,7444.54,4072.41,Helsinki
13,8.5,35,6,2,2.5,1.47,1.35,0.99,0.64,1.1,...,30.18,76.42,89.39,882.5,617.25,1683.52,1126.15,4307.58,2447.18,Lisbon
14,8,35,5,2.6,3.4,1.48,2.15,1.58,0.92,1.07,...,29.19,76.29,91.13,579.22,443.49,1072.37,787.14,3527.27,2587.88,Ljubljana
15,17.7,64.89,7.08,5.9,5.31,3.34,1.68,1.34,1.14,1.29,...,37.46,79.05,93.86,2050.94,1438.55,3689.77,2403.12,15417.9,8235.97,London
16,17,70,9,5,4.5,3.17,2.69,2.56,1.4,2.3,...,36.56,75.94,125.91,1502,1219.62,2715,2120.45,9321.62,6511.76,Luxembourg
17,12,50,8.25,6,4,2.67,2.26,1.44,1.09,1.24,...,38.46,87.78,115.27,640.48,508.57,1273.89,916.67,4718.46,2818.18,Lyon
18,11,40,8,3,3,1.76,1.68,1.29,0.84,1.05,...,27.1,71.04,86.82,930.62,705,1638.46,1130.53,5233.54,2966.34,Madrid
19,15,60,8,5,5,1.47,2.49,1.12,1.2,1.92,...,32.87,86.36,137.32,1106.13,736.07,2330,1428,8292.11,3747.37,Milan
20,22.7,140,8,6.5,6,3.96,4.07,3.48,1.57,2.9,...,53.33,113.33,195,3166.67,3200,17000,10000,55000,41000,Munich
21,7.5,30,6,2,2.5,1.62,1.32,0.97,0.67,1.23,...,28.89,69.33,74.25,683.66,508.97,1301.47,871.21,2660.48,1578.91,Oporto
22,19.3,81.25,11.17,9.04,9.14,4.3,2.93,2.52,1.8,2.96,...,37.14,97.58,131.77,1283.58,984.96,2098.23,1599.72,8335.91,5603.43,Oslo
23,15,50,8.6,6.75,6,3.41,3.18,2.29,1.22,1.49,...,36,92.28,135.98,1176.28,832.02,2595.1,1734.54,11258.6,8303.7,Paris
24,5.94,29.72,5.55,1.58,1.98,2.17,1.22,0.91,0.77,0.97,...,33.03,72.11,90.94,778.2,586.04,1283.56,902.43,4930.48,3442.98,Prague
25,15,55,8,5,4,1.27,1.88,0.99,1.28,1.56,...,31.39,79.82,114.61,989.73,682.05,1831.82,1167.57,6486.96,2904.35,Rome
26,11.43,66.66,7.62,6.19,6.67,3.63,2.32,1.99,1.17,2.16,...,32.94,91.81,127.63,1174.32,806.08,1938.63,1195.76,8841.31,5233.66,Stockholm
27,10,45,7.25,4,4,3.2,2.77,2.05,1.03,1.75,...,32.94,81.05,108.19,860.42,621.08,1583.84,1103.14,6403.78,4164.43,Vienna
28,5.9,28.34,4.72,2.36,2.36,2.49,1,0.8,0.63,0.76,...,35.64,71.67,85.83,628.14,474.9,1083.92,799.42,3250.54,2117.16,Warsaw
29,23.09,92.35,12.93,6.23,5.54,4.65,3.87,3.2,1.57,2.85,...,46.42,111.25,171.02,1696.61,1256.33,3096.17,2293.81,11387,7396.93,Zurich

In [183]:
col = client.cost_of_life_db
icof = col.indicator_cost_of_life_integrated

In [184]:
icof.insert_many(col_data_lt.to_dict('records'))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  """Entry point for launching an IPython kernel.

In [313]:
data_eu_tripadv_tou_col = data_eu_tripadv_tou_int.merge(col_data_lt, on = 'city', how='outer')

In [314]:
data_eu_tripadv_tou_col

,"Share of journeys to work by public transport (rail, metro, bus, tram)",city,Cost of a combined monthly ticket (all modes of public transport) for 5-10 km in the central zone,Number of public libraries,Average temperature of warmest month,Green urban areas and sports and leisure facilities,People killed in road accidents per 10000 pop,Total population on the 1st of January,Average temperature of coldest month,Total nights spent in tourist accommodation establishments per resident population,...,1 Pair of Jeans (Levis 501 Or Similar),"1 Summer Dress in a Chain Store (Zara, H&M, ecc)",1 Pair of Nike Running Shoes (Mid-Range),1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Price per Square Meter to Buy Apartment in City Centre,Price per Square Meter to Buy Apartment Outside of Centre
0,675.137155,Brussels,35.961476,31.913670,19.329885,13.2,2.076010,1.199625e+06,2.250328,27.825534,...,71.48,33.81,79.79,116.11,834.2,683.41,1432.14,1121.81,3232.14,2538.1
1,438.584852,Antwerpen,35.961476,24.175411,19.246839,6.8,13.040000,5.111085e+05,2.293227,18.128079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63.683276,Gent,33.761608,24.508292,19.166790,6.6,12.550000,2.547193e+05,2.291790,15.654351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,115.879833,Charleroi,35.089030,6.807718,18.960140,6.2,0.600000,2.013813e+05,1.556322,46.050903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,229.041872,Liège,35.961476,7.959897,20.367570,2.6,1.120222,4.305199e+05,2.502874,12.992611,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,NaN,St. Gallen,NaN,NaN,NaN,NaN,NaN,7.434376e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,Luzern,NaN,NaN,NaN,NaN,NaN,7.920575e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,Lugano,NaN,NaN,NaN,NaN,NaN,5.958176e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,NaN,Biel,NaN,NaN,NaN,NaN,NaN,5.140723e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,NaN,Istanbul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
twi_data

,_id,city,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,5e1c6e3f8bb44b1c7b8b66c7,Amsterdam,4829,4562,6955,7756,7853,8465,7240,6404,6508,8063,7945,7843
1,5e1c6e3f8bb44b1c7b8b66c8,Athens,1000,1215,1394,1453,1545,2099,1483,1289,1402,1507,1613,1394
2,5e1c6e3f8bb44b1c7b8b66c9,Barcelona,9643,9762,14012,14622,15955,10107,3100,10916,11768,16596,13770,12692
3,5e1c6e3f8bb44b1c7b8b66ca,Berlin,7301,7041,12114,13415,13238,14827,11923,11112,11900,11285,12887,10201
4,5e1c6e3f8bb44b1c7b8b66cb,Bratislava,343,257,383,343,460,427,375,364,213,448,451,384
5,5e1c6e3f8bb44b1c7b8b66cc,Brussels,235,229,90,379,291,286,331,311,270,289,454,392
6,5e1c6e3f8bb44b1c7b8b66cd,Budapest,1853,1551,2283,2100,2653,2800,2577,775,2288,2378,2703,2748
7,5e1c6e3f8bb44b1c7b8b66ce,Copenhagen,892,872,1346,1517,1706,1928,1605,1621,1444,1451,1320,1303
8,5e1c6e3f8bb44b1c7b8b66cf,Dublin,3884,3858,7084,7166,8054,9170,7208,7093,7758,7907,8033,6922
9,5e1c6e3f8bb44b1c7b8b66d0,Edinburgh,2322,1898,3886,4538,5222,5799,5391,7804,4486,4496,5243,5240
10,5e1c6e3f8bb44b1c7b8b66d1,Geneva,494,354,1084,706,1016,941,794,796,697,693,700,804
11,5e1c6e3f8bb44b1c7b8b66d2,Hamburg,2390,2152,3082,2962,3071,3146,2583,2376,2138,1841,2323,2088
12,5e1c6e3f8bb44b1c7b8b66d3,Helsinki,1315,998,2026,2083,2130,2195,1918,2231,1900,1889,2291,1719
13,5e1c6e3f8bb44b1c7b8b66d4,Krakow,309,262,609,610,676,726,595,573,517,618,629,679
14,5e1c6e3f8bb44b1c7b8b66d5,Lisbon,2156,1836,2466,2320,2471,2639,2485,2041,1878,2096,2749,2135
15,5e1c6e3f8bb44b1c7b8b66d6,Ljubljana,175,177,251,279,179,261,218,231,162,197,205,282
16,5e1c6e3f8bb44b1c7b8b66d7,London,28177,25555,36507,39640,43460,44696,44313,15461,24795,15666,16409,4619
17,5e1c6e3f8bb44b1c7b8b66d8,Luxembourg,450,497,877,864,856,904,681,542,648,711,733,637
18,5e1c6e3f8bb44b1c7b8b66d9,Lyon,1010,1036,2009,2270,2422,2367,399,1591,2205,2455,2562,2591
19,5e1c6e3f8bb44b1c7b8b66da,Madrid,14306,13304,20476,21120,25475,23564,19158,14285,17721,20464,22447,22102
20,5e1c6e3f8bb44b1c7b8b66db,Milan,3033,3173,3682,4345,3763,3475,3040,1860,3104,3475,3808,3745
21,5e1c6e3f8bb44b1c7b8b66dc,Munich,1261,1113,1864,1863,2028,1889,1961,1171,1409,1561,1392,1505
22,5e1c6e3f8bb44b1c7b8b66dd,Oporto,239,219,333,305,285,267,315,363,292,265,265,274
23,5e1c6e3f8bb44b1c7b8b66de,Oslo,1042,922,1385,1322,1694,1848,1346,1511,1737,1333,1502,1375
24,5e1c6e3f8bb44b1c7b8b66df,Paris,13583,12354,21902,30661,22772,25726,21501,17472,20946,21480,22551,20328
25,5e1c6e3f8bb44b1c7b8b66e0,Prague,1703,1633,2444,2340,2359,2630,2400,2518,2214,3075,2657,2594
26,5e1c6e3f8bb44b1c7b8b66e1,Rome,3877,3707,5207,4970,5505,5821,5118,3574,3754,4945,4737,4634
27,5e1c6e3f8bb44b1c7b8b66e2,Stockholm,1650,1579,2309,2623,2992,2970,2313,2689,2224,2476,2559,189
28,5e1c6e3f8bb44b1c7b8b66e3,Vienna,1483,1342,2214,2530,2720,2858,2281,2228,1957,2285,2344,2736
29,5e1c6e3f8bb44b1c7b8b66e4,Warsaw,603,450,929,1033,1146,1139,831,725,738,857,896,787
30,5e1c6e3f8bb44b1c7b8b66e5,Zurich,437,333,676,768,835,818,769,801,757,688,866,956

In [97]:
del twi_data['_id']

In [315]:
data_eu_tripadv_tou_col_twi_int = data_eu_tripadv_tou_col.merge(twi_data, on='city', how='outer')

In [316]:
data_eu_tripadv_tou_col_twi_int

,"Share of journeys to work by public transport (rail, metro, bus, tram)",city,Cost of a combined monthly ticket (all modes of public transport) for 5-10 km in the central zone,Number of public libraries,Average temperature of warmest month,Green urban areas and sports and leisure facilities,People killed in road accidents per 10000 pop,Total population on the 1st of January,Average temperature of coldest month,Total nights spent in tourist accommodation establishments per resident population,...,apr,may,jun,jul,aug,sep,oct,nov,dec,total
0,675.137155,Brussels,35.961476,31.913670,19.329885,13.2,2.076010,1.199625e+06,2.250328,27.825534,...,379.0,291.0,286.0,331.0,311.0,270.0,289.0,454.0,392.0,3557.0
1,438.584852,Antwerpen,35.961476,24.175411,19.246839,6.8,13.040000,5.111085e+05,2.293227,18.128079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63.683276,Gent,33.761608,24.508292,19.166790,6.6,12.550000,2.547193e+05,2.291790,15.654351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,115.879833,Charleroi,35.089030,6.807718,18.960140,6.2,0.600000,2.013813e+05,1.556322,46.050903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,229.041872,Liège,35.961476,7.959897,20.367570,2.6,1.120222,4.305199e+05,2.502874,12.992611,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,NaN,St. Gallen,NaN,NaN,NaN,NaN,NaN,7.434376e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,Luzern,NaN,NaN,NaN,NaN,NaN,7.920575e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,Lugano,NaN,NaN,NaN,NaN,NaN,5.958176e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,NaN,Biel,NaN,NaN,NaN,NaN,NaN,5.140723e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,NaN,Istanbul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [317]:
data_eu_tripadv_tou_col_twi_int= data_eu_tripadv_tou_col_twi_int.set_index('city')
data_eu_tripadv_tou_col_twi_int=data_eu_tripadv_tou_col_twi_int.reset_index()

In [318]:
data_eu_tripadv_tou_col_twi_int

,city,"Share of journeys to work by public transport (rail, metro, bus, tram)",Cost of a combined monthly ticket (all modes of public transport) for 5-10 km in the central zone,Number of public libraries,Average temperature of warmest month,Green urban areas and sports and leisure facilities,People killed in road accidents per 10000 pop,Total population on the 1st of January,Average temperature of coldest month,Total nights spent in tourist accommodation establishments per resident population,...,apr,may,jun,jul,aug,sep,oct,nov,dec,total
0,Brussels,675.137155,35.961476,31.913670,19.329885,13.2,2.076010,1.199625e+06,2.250328,27.825534,...,379.0,291.0,286.0,331.0,311.0,270.0,289.0,454.0,392.0,3557.0
1,Antwerpen,438.584852,35.961476,24.175411,19.246839,6.8,13.040000,5.111085e+05,2.293227,18.128079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Gent,63.683276,33.761608,24.508292,19.166790,6.6,12.550000,2.547193e+05,2.291790,15.654351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Charleroi,115.879833,35.089030,6.807718,18.960140,6.2,0.600000,2.013813e+05,1.556322,46.050903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Liège,229.041872,35.961476,7.959897,20.367570,2.6,1.120222,4.305199e+05,2.502874,12.992611,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,St. Gallen,NaN,NaN,NaN,NaN,NaN,NaN,7.434376e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,Luzern,NaN,NaN,NaN,NaN,NaN,NaN,7.920575e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,Lugano,NaN,NaN,NaN,NaN,NaN,NaN,5.958176e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,Biel,NaN,NaN,NaN,NaN,NaN,NaN,5.140723e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,Istanbul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [320]:
#Creo il json finale
json_file = [{**x[i]} for i, x in data_eu_tripadv_tou_col_twi_int.stack().groupby(level=0)]

In [322]:
client.Integrated_db.integrated_collection.insert_many(json_file)

In [323]:
#Colonne Dataset integrato finale
data_eu_tripadv_tou_col_twi_int.columns

Index(['city',
       'Share of journeys to work by public transport (rail, metro, bus, tram)',
       'Cost of a combined monthly ticket (all modes of public transport) for 5-10 km in the central zone',
       'Number of public libraries', 'Average temperature of warmest month',
       ' Green urban areas and sports and leisure facilities',
       'People killed in road accidents per 10000 pop',
       'Total population on the 1st of January',
       'Average temperature of coldest month',
       'Total nights spent in tourist accommodation establishments per resident population',
       'Share of journeys to work by car or motor cycle',
       'Length of bicycle network ', 'Transport infrastructure',
       'Share of journeys to work by bicycle',
       'Number of available beds per 1000 residents', 'Rainfall',
       'Number of murders and violent deaths',
       'Number of bed-places in tourist accommodation establishments',
       'Share of journeys to work by foot',
       'Cost of a taxi ride of 5 km to the centre at day time',
       'Number of museum visitors',
       'Total nights spent in tourist accommodation establishments',
       'museum_rating', 'restaurant_rating', 'hotel_rating', 'Arrivals_19',
       'Meal, Inexpensive Restaurant',
       'Meal for 2 People, Mid-range Restaurant, Three-course',
       'McMeal at McDonalds (or Equivalent Combo Meal)',
       'Domestic Beer (0,5 liter draught) Restaurant',
       'Imported Beer (0,33 liter bottle) Restaurant', 'Cappuccino (regular)',
       'Coke/Pepsi (0,33 liter bottle)', 'Water (0,33 liter bottle)',
       'Milk (regular), (1 liter)', 'Loaf of Fresh White Bread (500g)',
       'Rice (white), (1kg)', 'Eggs (regular) (12)', 'Local Cheese (1kg)',
       'Chicken Breasts (Boneless, Skinless), (1kg)',
       'Beef Round (1kg) (or Equivalent Back Leg Red Meat)', 'Apples (1kg)',
       'Banana (1kg)', 'Oranges (1kg)', 'Tomato (1kg)', 'Potato (1kg)',
       'Onion (1kg)', 'Lettuce (1 head)', 'Water (1,5 liter bottle)',
       'Bottle of Wine (Mid-Range)', 'Domestic Beer (0,5 liter bottle)',
       'Imported Beer (0,33 liter bottle)', 'Cigarettes 20 Pack (Marlboro)',
       'One-way Ticket (Local Transport)', 'Monthly Pass (Regular Price)',
       'Taxi Start (Normal Tariff)', 'Taxi 1km (Normal Tariff)',
       'Taxi 1hour Waiting (Normal Tariff)', 'Gasoline (1 liter)',
       'Volkswagen Golf 1,4 90 KW Trendline (Or Equivalent New Car)',
       'Toyota Corolla 1,6l 97kW Comfort (Or Equivalent New Car)',
       'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
       '1 min of Prepaid Mobile Tariff Local (No Discounts or Plans)',
       'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
       'Fitness Club, Monthly Fee for 1 Adult',
       'Tennis Court Rent (1 Hour on Weekend)',
       'Cinema, International Release, 1 Seat',
       'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
       'International Primary School, Yearly for 1 Child',
       '1 Pair of Jeans (Levis 501 Or Similar)',
       '1 Summer Dress in a Chain Store (Zara, H&M, ecc)',
       '1 Pair of Nike Running Shoes (Mid-Range)',
       '1 Pair of Men Leather Business Shoes',
       'Apartment (1 bedroom) in City Centre',
       'Apartment (1 bedroom) Outside of Centre',
       'Apartment (3 bedrooms) in City Centre',
       'Apartment (3 bedrooms) Outside of Centre',
       'Price per Square Meter to Buy Apartment in City Centre',
       'Price per Square Meter to Buy Apartment Outside of Centre', 'jan',
       'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov',
       'dec', 'total'],
      dtype='object')