In [4]:
from pymongo import MongoClient
import pandas as pd

In [5]:
client = MongoClient('mongo', 27017, username='admin', password='DataMan2019!')

In [21]:
Twitter_db = client.Twitter_indicator
indicator = Twitter_db.indicator

In [4]:
import pandas as pd

In [26]:
indicator_db = mongo_db = list(client.twitter_indicator.indicator.find())

In [27]:
indicator_db

,_id,AMSTERDAM,ATHENS,BARCELONA,BERLIN,BRATISLAVA,BRUSSELS,BUDAPEST,COPENHAGEN,DUBLIN,...,MUNICH,OPORTO,OSLO,PARIS,PRAGUE,ROME,STOCKHOLM,VIENNA,WARSAW,ZURICH
0,{'$oid': '5e173c97c53bbdea5a789687'},4829,1000,9643,7301,343,235,1853,892,3884,...,1261,239,1042,13583,1703,3877,1650,1483,603,437
1,{'$oid': '5e174b4cc53bbdea5a789689'},4562,1215,9762,7041,257,229,1551,872,3858,...,1113,219,922,12354,1633,3707,1579,1342,450,333
2,{'$oid': '5e17a726c53bbdea5a78968b'},6955,1394,14012,12114,383,90,2283,1346,7084,...,1864,333,1385,21902,2444,5207,2309,2214,929,676
3,{'$oid': '5e18531ebf9f5fe75db44431'},7756,1453,14622,13415,343,379,2100,1517,7166,...,1863,305,1322,30661,2340,4970,2623,2530,1033,768
4,{'$oid': '5e1876bdbf9f5fe75db44433'},7853,1545,15955,13238,460,291,2653,1706,8054,...,2028,285,1694,22772,2359,5505,2992,2720,1146,835
5,{'$oid': '5e18b1f5bf9f5fe75db44435'},8465,2099,10107,14827,427,286,2800,1928,9170,...,1889,267,1848,25726,2630,5821,2970,2858,1139,818
6,{'$oid': '5e19b8692004a97b31f9ebb6'},7240,1483,3100,11923,375,331,2577,1605,7208,...,1961,315,1346,21501,2400,5118,2313,2281,831,769
7,{'$oid': '5e19cc182004a97b31f9ebb8'},6404,1289,10916,11112,364,311,775,1621,7093,...,1171,363,1511,17472,2518,3574,2689,2228,725,801
8,{'$oid': '5e1a59742004a97b31f9ebba'},6508,1402,11768,11900,213,270,2288,1444,7758,...,1409,292,1737,20946,2214,3754,2224,1957,738,757
9,{'$oid': '5e1b1f6d22077a33a07a3eb1'},8063,1507,16596,11285,448,289,2378,1451,7907,...,1561,265,1333,21480,3075,4945,2476,2285,857,688
10,{'$oid': '5e1b418022077a33a07a3eb3'},7945,1613,13770,12887,451,454,2703,1320,8033,...,1392,265,1502,22551,2657,4737,2559,2344,896,866
11,{'$oid': '5e1b626c22077a33a07a3eb5'},7843,1394,12692,10201,384,392,2748,1303,6922,...,1505,274,1375,20328,2594,4634,189,2736,787,956

In [28]:
del indicator_db['_id']

In [29]:
indicator_db = indicator_db.T

In [30]:
indicator_db.columns = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']

In [31]:
indicator_db

,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
AMSTERDAM,4829,4562,6955,7756,7853,8465,7240,6404,6508,8063,7945,7843
ATHENS,1000,1215,1394,1453,1545,2099,1483,1289,1402,1507,1613,1394
BARCELONA,9643,9762,14012,14622,15955,10107,3100,10916,11768,16596,13770,12692
BERLIN,7301,7041,12114,13415,13238,14827,11923,11112,11900,11285,12887,10201
BRATISLAVA,343,257,383,343,460,427,375,364,213,448,451,384
BRUSSELS,235,229,90,379,291,286,331,311,270,289,454,392
BUDAPEST,1853,1551,2283,2100,2653,2800,2577,775,2288,2378,2703,2748
COPENHAGEN,892,872,1346,1517,1706,1928,1605,1621,1444,1451,1320,1303
DUBLIN,3884,3858,7084,7166,8054,9170,7208,7093,7758,7907,8033,6922
EDINBURGH,2322,1898,3886,4538,5222,5799,5391,7804,4486,4496,5243,5240
GENEVA,494,354,1084,706,1016,941,794,796,697,693,700,804
HAMBURG,2390,2152,3082,2962,3071,3146,2583,2376,2138,1841,2323,2088
HELSINKI,1315,998,2026,2083,2130,2195,1918,2231,1900,1889,2291,1719
KRAKOW,309,262,609,610,676,726,595,573,517,618,629,679
LISBON,2156,1836,2466,2320,2471,2639,2485,2041,1878,2096,2749,2135
LJUBLJANA,175,177,251,279,179,261,218,231,162,197,205,282
LONDON,28177,25555,36507,39640,43460,44696,44313,15461,24795,15666,16409,4619
LUXEMBOURG,450,497,877,864,856,904,681,542,648,711,733,637
LYON,1010,1036,2009,2270,2422,2367,399,1591,2205,2455,2562,2591
MADRID,14306,13304,20476,21120,25475,23564,19158,14285,17721,20464,22447,22102
MILAN,3033,3173,3682,4345,3763,3475,3040,1860,3104,3475,3808,3745
MUNICH,1261,1113,1864,1863,2028,1889,1961,1171,1409,1561,1392,1505
OPORTO,239,219,333,305,285,267,315,363,292,265,265,274
OSLO,1042,922,1385,1322,1694,1848,1346,1511,1737,1333,1502,1375
PARIS,13583,12354,21902,30661,22772,25726,21501,17472,20946,21480,22551,20328
PRAGUE,1703,1633,2444,2340,2359,2630,2400,2518,2214,3075,2657,2594
ROME,3877,3707,5207,4970,5505,5821,5118,3574,3754,4945,4737,4634
STOCKHOLM,1650,1579,2309,2623,2992,2970,2313,2689,2224,2476,2559,189
VIENNA,1483,1342,2214,2530,2720,2858,2281,2228,1957,2285,2344,2736
WARSAW,603,450,929,1033,1146,1139,831,725,738,857,896,787
ZURICH,437,333,676,768,835,818,769,801,757,688,866,956

In [32]:
indicator_db['total'] = indicator_db.sum(axis=1)

In [33]:
indicator_db = indicator_db.reset_index()

In [34]:
indicator_db = indicator_db.rename(columns={'index':'city'})
indicator_db

,city,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,total
0,AMSTERDAM,4829,4562,6955,7756,7853,8465,7240,6404,6508,8063,7945,7843,84423
1,ATHENS,1000,1215,1394,1453,1545,2099,1483,1289,1402,1507,1613,1394,17394
2,BARCELONA,9643,9762,14012,14622,15955,10107,3100,10916,11768,16596,13770,12692,142943
3,BERLIN,7301,7041,12114,13415,13238,14827,11923,11112,11900,11285,12887,10201,137244
4,BRATISLAVA,343,257,383,343,460,427,375,364,213,448,451,384,4448
5,BRUSSELS,235,229,90,379,291,286,331,311,270,289,454,392,3557
6,BUDAPEST,1853,1551,2283,2100,2653,2800,2577,775,2288,2378,2703,2748,26709
7,COPENHAGEN,892,872,1346,1517,1706,1928,1605,1621,1444,1451,1320,1303,17005
8,DUBLIN,3884,3858,7084,7166,8054,9170,7208,7093,7758,7907,8033,6922,84137
9,EDINBURGH,2322,1898,3886,4538,5222,5799,5391,7804,4486,4496,5243,5240,56325
10,GENEVA,494,354,1084,706,1016,941,794,796,697,693,700,804,9079
11,HAMBURG,2390,2152,3082,2962,3071,3146,2583,2376,2138,1841,2323,2088,30152
12,HELSINKI,1315,998,2026,2083,2130,2195,1918,2231,1900,1889,2291,1719,22695
13,KRAKOW,309,262,609,610,676,726,595,573,517,618,629,679,6803
14,LISBON,2156,1836,2466,2320,2471,2639,2485,2041,1878,2096,2749,2135,27272
15,LJUBLJANA,175,177,251,279,179,261,218,231,162,197,205,282,2617
16,LONDON,28177,25555,36507,39640,43460,44696,44313,15461,24795,15666,16409,4619,339298
17,LUXEMBOURG,450,497,877,864,856,904,681,542,648,711,733,637,8400
18,LYON,1010,1036,2009,2270,2422,2367,399,1591,2205,2455,2562,2591,22917
19,MADRID,14306,13304,20476,21120,25475,23564,19158,14285,17721,20464,22447,22102,234422
20,MILAN,3033,3173,3682,4345,3763,3475,3040,1860,3104,3475,3808,3745,40503
21,MUNICH,1261,1113,1864,1863,2028,1889,1961,1171,1409,1561,1392,1505,19017
22,OPORTO,239,219,333,305,285,267,315,363,292,265,265,274,3422
23,OSLO,1042,922,1385,1322,1694,1848,1346,1511,1737,1333,1502,1375,17017
24,PARIS,13583,12354,21902,30661,22772,25726,21501,17472,20946,21480,22551,20328,251276
25,PRAGUE,1703,1633,2444,2340,2359,2630,2400,2518,2214,3075,2657,2594,28567
26,ROME,3877,3707,5207,4970,5505,5821,5118,3574,3754,4945,4737,4634,55849
27,STOCKHOLM,1650,1579,2309,2623,2992,2970,2313,2689,2224,2476,2559,189,26573
28,VIENNA,1483,1342,2214,2530,2720,2858,2281,2228,1957,2285,2344,2736,26978
29,WARSAW,603,450,929,1033,1146,1139,831,725,738,857,896,787,10134
30,ZURICH,437,333,676,768,835,818,769,801,757,688,866,956,8704

In [35]:
indicator_db['city']= indicator_db['city'].str.capitalize()

In [36]:
indicator_db

,city,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,total
0,Amsterdam,4829,4562,6955,7756,7853,8465,7240,6404,6508,8063,7945,7843,84423
1,Athens,1000,1215,1394,1453,1545,2099,1483,1289,1402,1507,1613,1394,17394
2,Barcelona,9643,9762,14012,14622,15955,10107,3100,10916,11768,16596,13770,12692,142943
3,Berlin,7301,7041,12114,13415,13238,14827,11923,11112,11900,11285,12887,10201,137244
4,Bratislava,343,257,383,343,460,427,375,364,213,448,451,384,4448
5,Brussels,235,229,90,379,291,286,331,311,270,289,454,392,3557
6,Budapest,1853,1551,2283,2100,2653,2800,2577,775,2288,2378,2703,2748,26709
7,Copenhagen,892,872,1346,1517,1706,1928,1605,1621,1444,1451,1320,1303,17005
8,Dublin,3884,3858,7084,7166,8054,9170,7208,7093,7758,7907,8033,6922,84137
9,Edinburgh,2322,1898,3886,4538,5222,5799,5391,7804,4486,4496,5243,5240,56325
10,Geneva,494,354,1084,706,1016,941,794,796,697,693,700,804,9079
11,Hamburg,2390,2152,3082,2962,3071,3146,2583,2376,2138,1841,2323,2088,30152
12,Helsinki,1315,998,2026,2083,2130,2195,1918,2231,1900,1889,2291,1719,22695
13,Krakow,309,262,609,610,676,726,595,573,517,618,629,679,6803
14,Lisbon,2156,1836,2466,2320,2471,2639,2485,2041,1878,2096,2749,2135,27272
15,Ljubljana,175,177,251,279,179,261,218,231,162,197,205,282,2617
16,London,28177,25555,36507,39640,43460,44696,44313,15461,24795,15666,16409,4619,339298
17,Luxembourg,450,497,877,864,856,904,681,542,648,711,733,637,8400
18,Lyon,1010,1036,2009,2270,2422,2367,399,1591,2205,2455,2562,2591,22917
19,Madrid,14306,13304,20476,21120,25475,23564,19158,14285,17721,20464,22447,22102,234422
20,Milan,3033,3173,3682,4345,3763,3475,3040,1860,3104,3475,3808,3745,40503
21,Munich,1261,1113,1864,1863,2028,1889,1961,1171,1409,1561,1392,1505,19017
22,Oporto,239,219,333,305,285,267,315,363,292,265,265,274,3422
23,Oslo,1042,922,1385,1322,1694,1848,1346,1511,1737,1333,1502,1375,17017
24,Paris,13583,12354,21902,30661,22772,25726,21501,17472,20946,21480,22551,20328,251276
25,Prague,1703,1633,2444,2340,2359,2630,2400,2518,2214,3075,2657,2594,28567
26,Rome,3877,3707,5207,4970,5505,5821,5118,3574,3754,4945,4737,4634,55849
27,Stockholm,1650,1579,2309,2623,2992,2970,2313,2689,2224,2476,2559,189,26573
28,Vienna,1483,1342,2214,2530,2720,2858,2281,2228,1957,2285,2344,2736,26978
29,Warsaw,603,450,929,1033,1146,1139,831,725,738,857,896,787,10134
30,Zurich,437,333,676,768,835,818,769,801,757,688,866,956,8704

In [37]:
indicator.insert_many(indicator_db.to_dict('records'))